<template>
        	<header>
			<div g-r class="ad-align-center ad-b-line ad-p-5-0">
				<div class="offer-block ad-flexible ad-text-center"><p>Up to 75% Off Activities, Beauty, Tech, &amp; More.</p></div>
				<div class="event-block ad-flex ad-align-center ad-justify-center ad-p-0-16-0-0">
					<span aria-dlp-icon-s="&#xf004;"><span class="count ad-flex ad-align-center ad-justify-center">0</span></span>
					<span aria-dlp-icon-s="&#xf217;"><span class="count ad-flex ad-align-center ad-justify-center">0</span></span>
					<span aria-dlp-icon-l="&#xf1ac;"></span>
				</div>
			</div>
			<div g-r class="header-panel ad-align-center">
				<div g-c="1/4 1/8 9/12 12/16" class="ad-align-center ad-justify-between">
					<div class="logo-block">
						<img src="/css/images/adfyn.png"/>
					</div>
					<search />
				</div>
				<div g-c="1/4 1/8 3/12 4/16" class="action-block ad-justify-end">
					<router-link to="/login" class="ad-button ad-secondary-button no-border" aria-dlp-icon-l="&#xf007;">Signin / Create Hub</router-link>
					<button class="ad-button ad-secondary-button no-border" aria-dlp-icon-l="&#xe911;">Post your Ad</button>
                    <!-- <router-link to="/">Home</router-link> |
                    <router-link to="/search">search</router-link> -->
					

				</div>
			</div>
			<div g-r class="quick-menu">
				<a g-c="1/4 1/8 2.4/12 3.2/16"><span class="ad-justify-center"><span aria-dlp-icon="&#xe981;" class="menu-icon"></span>Beauty &amp; Spa</span></a>
				<a g-c="1/4 1/8 2.4/12 3.2/16"><span class="ad-justify-center"><span aria-dlp-icon-s="&#xf015;" class="menu-icon"></span>Office &amp; Home Maintenance</span></a>
				<a g-c="1/4 1/8 2.4/12 3.2/16"><span class="ad-justify-center"><span aria-dlp-icon-l="&#xe982;" class="menu-icon"></span>Seasonal Fun Program</span></a>
				<a g-c="1/4 1/8 2.4/12 3.2/16"><span class="ad-justify-center"><span aria-dlp-icon="&#xeb17;" class="menu-icon"></span>Food &amp; Delivery</span></a>
				<a g-c="1/4 1/8 2.4/12 3.2/16"><span class="ad-justify-center"><span aria-dlp-icon-s="&#xf1b9;" class="menu-icon"></span>Automobiles</span></a>
			</div>
		</header>
		<main>
            <router-view/>
            </main>
		<footer g-r>
			<div class="footer-bg">
				<div class="footer-menu" g-c="4/4 8/8 12/12 16/16">
					<ul class="ad-list ad-list-h ad-justify-between">
						<li><a data-move="Beauty &amp; Spa">Beauty &amp; Spa</a></li>
						<li><a data-move="Office &amp; Home Maintenance">Office &amp; Home Maintenance</a></li>
						<li><a data-move="Seasonal Fun Program">Seasonal Fun Program</a></li>
						<li><a data-move="Food &amp; Delivery">Food &amp; Delivery</a></li>
						<li><a data-move="Automobiles">Automobiles</a></li>
					</ul>
				</div>
				<div class="footer-list" g-c="4/4 8/8 12/12 16/16" g-r>
					<div g-c="1/4 1/8 2.4/12 3.2/16" class="footer-menu-block footer-logo">
						<img src="/css/images/adfyn-white.png"/>
					</div>
					<div g-c="1/4 1/8 2.4/12 3.2/16" class="footer-menu-block">
						<span class="footer-menu-title">Company</span>
						<ul class="ad-list ad-list-v">
							<li><a data-move="Road Map">Road Map</a></li>
							<li><a data-move="Why Adfyn">Why Adfyn</a></li>
							<li><a data-move="Help">Help</a></li>
							<li><a data-move="Contact Us">Contact Us</a></li>
						</ul>
					</div>
					<div g-c="1/4 1/8 2.4/12 3.2/16" class="footer-menu-block">
						<span class="footer-menu-title">Dubai</span>
						<ul class="ad-list ad-list-v">
							<li><a data-move="Deira">Deira</a></li>
							<li><a data-move="Burdubai">Burdubai</a></li>
							<li><a data-move="Downtown">Downtown</a></li>
							<li><a data-move="Jumeirah">Jumeirah</a></li>
							<li><a data-move="More">More</a></li>
						</ul>
					</div>
					<div g-c="1/4 1/8 2.4/12 3.2/16" class="footer-menu-block">
						<span class="footer-menu-title">Follow Us</span>
						<ul class="ad-list ad-list-h media-link">
							<li><a aria-dlp-icon-s=""></a></li>
							<li><a aria-dlp-icon-s=""></a></li>
							<li><a aria-dlp-icon-s=""></a></li>
							<li><a aria-dlp-icon-s=""></a></li>
						</ul>
					</div>
					<div g-c="1/4 1/8 2.4/12 3.2/16" class="footer-menu-block">
						<span class="footer-menu-title">Polices</span>
						<ul class="ad-list ad-list-v">
							<li><a data-move="Terms &amp;amp; Conditions">Terms &amp;amp; Conditions</a></li>
							<li><a data-move="Privacy Notice">Privacy Notice</a></li>
							<li><a data-move="Accessibility Policy">Accessibility Policy</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-disclaimer" g-c="4/4 8/8 12/12 16/16">
				<p>© 2021 Adfyn - All Rights Reserved</p>
			</div>
		</footer>
</template>


<script lang="ts">
import search from './user/search.vue'
export default{
    name: 'Root',
	components:{
		'search':search
	}
}
</script>
