


header .offer-block p {margin: 0;font-size: 12px;}
header .event-block span {position: relative;margin-left: 14px;cursor:pointer;}
header .event-block span span.count {color: #ffffff;background-color: var(--ad-c-1);border-radius: 50%;position: absolute;font-size: 10px;z-index: 9;right: -6px;min-width: 15px;min-height: 15px;text-align: center;top: 0;}

header .header-panel [g-c] {padding: 0;}
header .logo-block img {max-width: 125px;padding: 10px 0 0 16px;}
header .search-block {border: 1px solid var(--ad-c-1);max-width: 620px;margin-right: 28px;}
header .search-block input[type="text"] {border: 0 none;}
header .search-block .search-keyword, header .search-block .search-location {margin: 0;border-left: 1px solid var(--ad-c-10);}
header .search-block button.search-category {text-align: left;color: var(--ad-c-2);}
header .search-block button.search-category:before {margin-right: 10px;color: var(--ad-c-1);}
header .search-block button.search-category:after {color: var(--ad-c-11);position: absolute;right: 0;top: calc(50% - 9px);}
header .search-block .search-location:before {color: var(--ad-c-1);margin-right: 0;line-height: 36px;padding-left: 10px;}
header .search-block input[type="text"]::-webkit-input-placeholder {color: var(--ad-c-2);}
header .search-block input[type="text"]::-moz-placeholder {color: var(--ad-c-2);}
header .search-block input[type="text"]:-ms-input-placeholder {color: var(--ad-c-2);}
header .search-block input[type="text"]:-moz-placeholder {color: var(--ad-c-2);}
header .search-block .search-keyword input[type="text"] {padding-left: 10px;}
header .action-block .ad-button.ad-secondary-button {color: var(--ad-c-2);}
header .action-block .ad-button.ad-secondary-button:before {color: var(--ad-c-1);}

header .quick-menu>a>span {background-color: var(--ad-c-1);color: #ffffff;padding: 10.5px 0;cursor: pointer;font-size: 14px;font-weight: 400;}
header .quick-menu a span span.menu-icon {position: relative;padding-left: 30px;}
header .quick-menu a span span.menu-icon:before {position: absolute;left: 0;top: 0;}
header .quick-menu a:nth-child(1) span.menu-icon:before {font-size: 28px;top: -2px;left: -4px;}
header .quick-menu a:nth-child(3) span.menu-icon:before {font-size: 22px;top: -1px;left: -4px;}

section {position: relative;width: 100%;display: inline-block;}
section .section-header{position:relative;}
section .section-header.spliter:after{content: "";position: absolute;width: 100%;height: 1px;border-top: 1px solid var(--ad-c-10);left: 0;top: 16px;}
section .section-header h3{padding-left: 50px;font-size: 24px;z-index: 1;padding: 0 12px;text-transform: uppercase;color: var(--ad-c-1);background-color: var(--ad-c-bg);text-align: center;margin: 0;}
section .section-header h3[data-sub-text]:after {display: block;content: attr(data-sub-text);font-size: 16px;padding: 10px 0 5px 0;text-transform: capitalize;font-weight: 400;color: var(--ad-c-9);}


section .section-content .property-block .property-image-block .property-inner {position: absolute;background-color: rgb(255 255 255 / 75%);width: 100%;bottom:-100%;transition: all 0.2s ease;padding: 8px 6px 8px 6px;box-sizing: border-box;}
section .section-content .property-block:hover .property-image-block .property-inner {bottom: 0;}
section .section-content .property-block .property-image-block {height: 230px;background-size: cover;background-repeat: no-repeat;position: relative;overflow: hidden;}
section .section-content .property-block .property-image-block .property-inner span{cursor:pointer;}
section .section-content .property-block .property-image-block .property-inner span::before {color: var(--ad-c-1);position: relative;margin-right: 8px;top: -2px;}
section .section-content .property-block .property-image-block .property-inner span::after {color: var(--ad-c-1);position: relative;margin-left: 8px;top: -2px;}
section .section-content .property-block .property-details {background-color: #ffffff;}
section .section-content .property-block .property-details .property-detail-row span.price {font-size: 16px;color: var(--ad-c-1);font-weight: 500;}
section .section-content .property-block .property-details .property-detail-row span.price i {font-size: 30px;font-style: normal;font-weight: 700;padding-left: 3px;}
section .section-content .property-block .property-details .property-detail-row span.rating .star span:before {color: #ffc600;font-size: 11px;}
section .section-content .property-block .property-details .property-detail-row span.rating span.customer-rating {font-size: 11px;color: var(--ad-c-4);margin-top: 4px;}

section .section-content .property-block .property-details h4.property-title {margin: 8px 0 8px 0;font-size: 16px;font-weight: 600;color: var(--ad-c-2);padding-left: 5px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
section .section-content .property-block .property-details .property-distance {font-size: 14px;color: var(--ad-c-9);padding-left: 5px;}
section .section-content .property-block .property-details .property-distance:before {color: var(--ad-c-1);font-size: 14px;position: relative;top: -3px;}
section .section-content .property-block .property-details .property-detail-actions button.ad-button {color: var(--ad-c-2);padding: 0;font-weight: 600;}
section .section-content .property-block .property-details .property-detail-actions button.ad-button:before {font-size: 14px;color: var(--ad-c-1);position: relative;top: -2px;margin-left: 5px;}
section .section-content .property-block .property-details .property-detail-actions button.ad-button:after{color: var(--ad-c-1);position: relative;top: -2px;margin-right: 0;}

section.grid-section .grid-item {min-height: 300px;background-repeat: no-repeat;background-size: cover;position: relative;cursor: pointer;overflow: hidden;}
section.grid-section .grid-item:before {position: absolute;top: 30px;right: 30px;bottom: 30px;left: 30px;border: 2px solid #ffffff;box-shadow: 0 0 0 30px rgb(255 255 255 / 20%);content: '';opacity: 0;-webkit-transition: opacity .35s,-webkit-transform .35s;transition: opacity .35s,transform .35s;-webkit-transform: scale3d(1.4,1.4,1);transform: scale3d(1.4,1.4,1);content: "";background-color: rgba(0,0,0,0.2);}
section.grid-section .grid-item p {font-size: 24px;color: #ffffff;position: absolute;transform: translate(-50%,-50%);left: 50%;top: 50%;letter-spacing: 2px;line-height: 3rem;text-align: center;width: 100%;word-wrap: break-word;text-shadow: 1px 1px 13px #000;margin: 0;}
section.grid-section .grid-item:hover:before {opacity: 1;-webkit-transform: scale3d(1,1,1);transform: scale3d(1,1,1);}
section.grid-section.trending .grid-item {min-height: 225px;}
section.grid-section.top-deals .grid-item {min-height: 350px;}


footer {background-color: var(--ad-c-1);}
footer .footer-menu ul li>a {color: #ffffff;font-size: 15px;font-weight: 400;cursor: pointer;}
footer .footer-menu{border-bottom: 1px solid var(--ad-c-8);}
footer .footer-list .footer-logo img {max-width: 120px;}
footer .footer-list .footer-menu-block span.footer-menu-title {color: #ffffff;font-size: 15px;font-weight: 400;position: relative;padding-bottom: 6px;display: inline-block;}
footer .footer-list .footer-menu-block span.footer-menu-title:after {content: "";position: absolute;width:72%;height: 1.5px;background-color: var(--ad-c-8);bottom: 0;left: 0;}
footer .footer-list .footer-menu-block span.footer-menu-title~ul li a {font-size: 14px;color: rgb(255 255 255 / 75%);font-weight: 400;cursor: pointer;position: relative;}
footer .footer-list .footer-menu-block span.footer-menu-title~ul.media-link {margin-top: 10px;}
footer .footer-list .footer-menu-block span.footer-menu-title~ul.media-link li:first-child {margin-left: 0;}

footer .footer-bg {background-image: url(/css/images/footer-bg.png);background-size: cover;background-repeat: no-repeat;padding-bottom: 50px!important;background-position: 0px -45px;width:100%;}
footer .footer-list .footer-menu-block span.footer-menu-title~ul li a:hover:after {max-width: 100%;}
footer .footer-list .footer-menu-block span.footer-menu-title~ul li a:after {position: absolute;top: 0;left: 0;overflow: hidden;max-width: 0;color: #ffffff;content: attr(data-move);white-space: nowrap;transition: max-width 300ms ease;}
footer .footer-list .footer-menu-block span.footer-menu-title~ul.media-link li a:hover {color: #ffffff;}

footer .footer-disclaimer {background-color: var(--ad-c-8);z-index: 9;position: relative;padding: 0;}
footer .footer-disclaimer p {margin: 0;padding: 0;font-size: 12px;color: #ffffff;font-weight: 400;}

.ad-b-line{border-bottom:1px solid var(--ad-c-10);}