@font-face {
    font-family: 'dlp-fonts';
    src:  url('/css/fonts/dlp-fonts.eot');
    src:  url('/css/fonts/dlp-fonts.eot') format('embedded-opentype'),
      url('/css/fonts/dlp-fonts.ttf') format('truetype'),
      url('/css/fonts/dlp-fonts.woff') format('woff'),
      url('/css/fonts/dlp-fonts.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  [class^="dlp-icon-"], [class*=" dlp-icon-"]{font-size: 24px;line-height: 1;}
  [class^="dlp-icon-"]:before, [class^="dlp-icon-"]:after, [class*=" dlp-icon-"]:before, [class^="dlp-icon-"][class*="-right"]:after, [class*=" dlp-icon-"][class*="-right"]:after {
      /* use !important to prevent issues with browser extensions that change fonts */
      font-family: 'dlp-fonts' !important;
      speak: none;    
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;    
      /* Enable Ligatures ================ */
      letter-spacing: 0;
      -webkit-font-feature-settings: "liga";
      -moz-font-feature-settings: "liga=1";
      -moz-font-feature-settings: "liga";
      -ms-font-feature-settings: "liga" 1;
      font-feature-settings: "liga";
      -webkit-font-variant-ligatures: discretionary-ligatures;
      font-variant-ligatures: discretionary-ligatures;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  .dlp-icon-button--icon {
      border-radius: 50%;
      font-size: 24px;
      height: 32px;
      margin-left: 0;
      margin-right: 0;
      min-width: 32px;
      width: 32px;
      padding: 0;
      overflow: hidden;
      color: inherit;
      line-height: normal;
      cursor:pointer;
  }
  .ad {
      display: inline-block;
      font: normal normal normal 14px/1 dlp-fonts;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  [aria-dlp-icon]:before {
      content: attr(aria-dlp-icon);
  }
  [aria-dlp-icon-xs]:before {
      content: attr(aria-dlp-icon-xs);
  }
  [aria-dlp-icon-s]:before {
      content: attr(aria-dlp-icon-s);
  }
  [aria-dlp-icon-l]:before {
      content: attr(aria-dlp-icon-l);
  }
  [aria-dlp-icon-xl]:before {
      content: attr(aria-dlp-icon-xl);
  }
  [aria-dlp-icon-l-right]:after {
      content: attr(aria-dlp-icon-l-right);
  }
  [aria-dlp-icon-xl-right]:after {
      content: attr(aria-dlp-icon-xl-right);
  }
  [aria-dlp-icon-right]:after {
      content: attr(aria-dlp-icon-right);
  }
  [aria-dlp-icon]:before, [aria-dlp-icon-right]:after, [aria-dlp-icon-s]:before, [aria-dlp-icon-xs]:before, [aria-dlp-icon-l]:before, [aria-dlp-icon-xl]:before, [aria-dlp-icon-l-right]:after, [aria-dlp-icon-xl-right]:after {
      font-family: 'dlp-fonts' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display: inline-block;
      font-size: 24px;
      letter-spacing: normal;
      word-wrap: normal;
      vertical-align: middle;
      margin: 0 0.2rem 0 0;
      transform: translateY(-1px);
  }
  [aria-dlp-icon-xs]:before, [aria-dlp-icon-xs-right]:after, [aria-dlp-icon-xs-right]:before {
      font-size: 12px;
  }
  [aria-dlp-icon-s]:before, [aria-dlp-icon-s-right]:after, [aria-dlp-icon-s-right]:before {
      font-size: 15px;
  }
  [aria-dlp-icon-l]:before, [aria-dlp-icon-l-right]:after, [aria-dlp-icon-l-right]:before {
      font-size: 18px;
  }
  [aria-dlp-icon-xl]:before, [aria-dlp-icon-xl-right]:after, [aria-dlp-icon-xl-right]:before {
      font-size: 30px;
  }
  
  
  .dlp-icon-l{
      font-size:18px;
  }
  .dlp-icon-ml {
      font-size: 20px;
  }
  .dlp-icon-xl {
      font-size: 30px;
  }
  .dlp-icon-s {
      font-size: 15px;
  }
  .dlp-icon-xs {
      font-size: 12px;
  }
  
  .dlp-icon-spa:before {
    content: "\e981";
  }
  .dlp-icon-party:before {
    content: "\e982";
  }
  .dlp-icon-happy:before {
    content: "\ea71";
  }
  .dlp-icon-happy-alt:before {
    content: "\ea72";
  }
  .dlp-icon-restaurant:before {
    content: "\eb17";
  }
  .dlp-icon-bell1:before {
    content: "\f0f4";
  }
  .dlp-icon-cart-arrow-down:before {
    content: "\f218";
  }
  .dlp-icon-cart-plus:before {
    content: "\f217";
  }
  .dlp-icon-dolly-flatbed-alt:before {
    content: "\f475";
  }
  .dlp-icon-heart:before {
    content: "\f004";
  }
  .dlp-icon-map-marker-alt:before {
    content: "\f3c6";
  }
  .dlp-icon-plus:before {
    content: "\f067";
  }
  .dlp-icon-share-alt:before {
    content: "\f1e0";
  }
  .dlp-icon-snowflake:before {
    content: "\f2dc";
  }
  .dlp-icon-car:before {
    content: "\f1b9";
  }
  .dlp-icon-graduation:before {
    content: "\f19d";
  }
  .dlp-icon-home-light:before {
    content: "\f015";
  }
  .dlp-icon-laptop:before {
    content: "\f109";
  }
  .dlp-icon-paw:before {
    content: "\f1b0";
  }
  .dlp-icon-suitcase:before {
    content: "\f0f2";
  }
  .dlp-icon-star-filled:before {
    content: "\e980";
    color: #f4b124;
  }
  .dlp-icon-microsoftoutlook:before {
    content: "\e97b";
    color: #0072c6;
  }
  .dlp-icon-gmail:before {
    content: "\e97c";
    color: #d14836;
  }
  .dlp-icon-downlodlp-light:before {
    content: "\f33d";
  }
  .dlp-icon-filter:before {
    content: "\f0b0";
  }
  .dlp-icon-star-half:before {
    content: "\f089";
  }
  .dlp-icon-star:before {
    content: "\f005";
  }
  .dlp-icon-sortdown-light:before {
    content: "\e97e";
  }
  .dlp-icon-sortdown-light:after {
    content: "\e97f";
    margin-left: -1em;
    color: #757575;
    opacity: 0.51;
  }
  .dlp-icon-sortup-light:before {
    content: "\e973";
    color: #757575;
    opacity: 0.51;
  }
  .dlp-icon-sortup-light:after {
    content: "\e976";
    margin-left: -1em;
  }
  .dlp-icon-sort-light:before {
    color: #757575;
    opacity: 0.51;
    content: "\e97d";
  }
  .dlp-icon-tree:before {
    content: "\e975";
  }
  .dlp-icon-presentation:before {
    content: "\e974";
  }
  .dlp-icon-horn:before {
    content: "\f0a1";
  }
  .dlp-icon-clipboard-list:before {
    content: "\f46d";
  }
  .dlp-icon-map-marker:before {
    content: "\f3c5";
  }
  .dlp-icon-map-signs:before {
    content: "\f277";
  }
  .dlp-icon-map2:before {
    content: "\f279";
  }
  .dlp-icon-newspaper:before {
    content: "\f1ea";
  }
  .dlp-icon-shield:before {
    content: "\f132";
  }
  .dlp-icon-sign-out:before {
    content: "\f08b";
  }
  .dlp-icon-user-friends:before {
    content: "\f500";
  }
  .dlp-icon-table-view:before {
    content: "\f0ce";
  }
  .dlp-icon-list-view:before {
    content: "\f00b";
  }
  .dlp-icon-mouse-pointer:before {
    content: "\f245";
  }
  .dlp-icon-bounce-arrow:before {
    content: "\e972";
  }
  .dlp-icon-arrow-down-left:before {
    content: "\e824";
  }
  .dlp-icon-mail-open:before {
    content: "\e962";
  }
  .dlp-icon-finger-click:before {
    content: "\e970";
  }
  .dlp-icon-line-space:before {
      content: "\e935";
  }
  .dlp-icon-highlight:before {
      content: "\ea7d";
  }
  .dlp-icon-strikethrough:before {
    content: "\e966";
  }
  .dlp-icon-superscript:before {
    content: "\e967";
  }
  .dlp-icon-subscript:before {
    content: "\e968";
  }
  .dlp-icon-left-indent:before {
    content: "\ea9e";
  }
  .dlp-icon-right-indent:before {
    content: "\eb1f";
  }
  .dlp-icon-underline:before {
    content: "\e8ff";
  }
  .dlp-icon-justify:before {
    content: "\e977";
  }
  .dlp-icon-left:before {
    content: "\e978";
  }
  .dlp-icon-center:before {
    content: "\e979";
  }
  .dlp-icon-right:before {
    content: "\e97a";
  }
  .dlp-icon-code-alt:before {
    content: "\e9f8";
  }
  .dlp-icon-code:before {
    content: "\e9fa";
  }
  .dlp-icon-font-color:before {
    content: "\ea57";
  }
  .dlp-icon-send:before {
      content: "\e971";
  }
  .dlp-icon-refresh:before {
      content: "\f021";
  }
  .dlp-icon-desktop-light:before {
    content: "\f390";
  }
  .dlp-icon-preview-light:before {
    content: "\f06e";
  }
  .dlp-icon-mobile-light:before {
    content: "\f10b";
  }
  .dlp-icon-plus-square:before {
      content: "\f0fe";
  }
  .dlp-icon-save-light:before {
    content: "\f0c7";
  }
  .dlp-icon-group-library:before {
    content: "\e96f";
  }
  .dlp-icon-question-circle:before {
      content: "\f059";
  }
  .dlp-icon-copy:before {
    content: "\f0c5";
  }
  .dlp-icon-download:before {
    content: "\f019";
  }
  .dlp-icon-info-circle:before {
    content: "\f05a";
  }
  .dlp-icon-sort:before {
      content: "\eb4d";
  }
  .dlp-icon-upload:before {
      content: "\f34d";
  }
  .dlp-icon-check-circle:before {
    content: "\f058";
  }
  .dlp-icon-waring:before {
    content: "\f071";
  }
  .dlp-icon-frown:before {
    content: "\f119";
  }
  .dlp-icon-close-light:before {
    content: "\f057";
  }
  .dlp-icon-ol:before {
    content: "\eaa8";
  }
  .dlp-icon-palette:before {
    content: "\e969";
  }
  .dlp-icon-font:before {
    content: "\e96a";
  }
  .dlp-icon-fontsize:before {
    content: "\e96b";
  }
  .dlp-icon-italic:before {
    content: "\e96c";
  }
  .dlp-icon-bold:before {
    content: "\e96d";
  }
  .dlp-icon-card2:before {
    content: "\e95e";
  }
  .dlp-icon-card1:before {
    content: "\e965";
  }
  .dlp-icon-section:before {
    content: "\e963";
  }
  .dlp-icon-field:before {
    content: "\e964";
  }
  .dlp-icon-search-light:before {
    content: "\f002";
  }
  .dlp-icon-user-light:before {
    content: "\f007";
  }
  .dlp-icon-times:before {
    content: "\f00d";
  }
  .dlp-icon-power-light:before {
    content: "\f011";
  }
  .dlp-icon-settings-light:before {
    content: "\f013";
  }
  .dlp-icon-lock:before {
    content: "\f023";
  }
  .dlp-icon-volume-light:before {
    content: "\f027";
  }
  .dlp-icon-edit-light:before {
    content: "\f044";
  }
  .dlp-icon-arrow-left-light:before {
    content: "\f064";
  }
  .dlp-icon-expand:before {
    content: "\f065";
  }
  .dlp-icon-wrench:before {
    content: "\f0ad";
  }
  .dlp-icon-truck:before {
    content: "\f0d1";
  }
  .dlp-icon-envelope:before {
    content: "\f0e0";
  }
  .dlp-icon-bell:before {
    content: "\f0f3";
  }
  .dlp-icon-filter-light:before {
    content: "\f1de";
  }
  .dlp-icon-trash:before {
    content: "\f1f8";
  }
  .dlp-icon-address-card:before {
    content: "\f2bb";
  }
  .dlp-icon-trash-alt:before {
    content: "\f2ed";
  }
  .dlp-icon-button .path1:before {
    content: "\e957";
    color: rgb(255, 255, 255);
  }
  .dlp-icon-button .path2:before {
    content: "\e958";
    margin-left: -1.4755859375em;
    color: rgb(0, 0, 0);
  }
  .dlp-icon-button .path3:before {
    content: "\e959";
    margin-left: -1.4755859375em;
    color: rgb(0, 0, 0);
  }
  .dlp-icon-square .path1:before {
    content: "\e90d";
    color: rgb(255, 255, 255);
  }
  .dlp-icon-square .path2:before {
    content: "\e90e";
    margin-left: -1.578125em;
    color: rgb(0, 0, 0);
  }
  .dlp-icon-switch-circle:before {
    content: "\e901";
  }
  .dlp-icon-switch-base:before {
    content: "\e900";
  }
  .dlp-icon-home1:before {
    content: "\f1fc";
  }
  .dlp-icon-enterprise-network:before {
    content: "\e004";
  }
  .dlp-icon-equal-housing:before {
    content: "\e005";
  }
  .dlp-icon-realtor:before {
    content: "\e006";
  }
  .dlp-icon-acres:before {
    content: "\e902";
  }
  .dlp-icon-bathtub:before {
    content: "\e903";
  }
  .dlp-icon-bed:before {
    content: "\e904";
  }
  .dlp-icon-lot-square:before {
    content: "\e905";
  }
  .dlp-icon-scale:before {
    content: "\e906";
  }
  .dlp-icon-error-outline:before {
    content: "\e907";
  }
  .dlp-icon-play-circle-outline:before {
    content: "\e908";
  }
  .dlp-icon-business:before {
    content: "\e909";
  }
  .dlp-icon-phone:before {
    content: "\e90a";
  }
  .dlp-icon-clear-all:before {
    content: "\e90b";
  }
  .dlp-icon-email:before {
    content: "\e90c";
  }
  .dlp-icon-location:before {
    content: "\e90f";
  }
  .dlp-icon-phone-ring:before {
    content: "\e910";
  }
  .dlp-icon-add:before {
    content: "\e911";
  }
  .dlp-icon-close:before {
    content: "\e912";
  }
  .dlp-icon-edit:before {
    content: "\e913";
  }
  .dlp-icon-remove:before {
    content: "\e914";
  }
  .dlp-icon-save:before {
    content: "\e915";
  }
  .dlp-icon-gps:before {
    content: "\e916";
  }
  .dlp-icon-keyboard-arrow-down:before {
    content: "\e917";
  }
  .dlp-icon-keyboard-arrow-left:before {
    content: "\e918";
  }
  .dlp-icon-keyboard-arrow-right:before {
    content: "\e919";
  }
  .dlp-icon-keyboard-arrow-up:before {
    content: "\e91a";
  }
  .dlp-icon-phone-iphone:before {
    content: "\e91b";
  }
  .dlp-icon-directions:before {
    content: "\e91c";
  }
  .dlp-icon-map:before {
    content: "\e91d";
  }
  .dlp-icon-satellite:before {
    content: "\e91e";
  }
  .dlp-icon-fullscreen:before {
    content: "\e91f";
  }
  .dlp-icon-fullscreen-exit:before {
    content: "\e920";
  }
  .dlp-icon-menu:before {
    content: "\e921";
  }
  .dlp-icon-person:before {
    content: "\e922";
  }
  .dlp-icon-public:before {
    content: "\e923";
  }
  .dlp-icon-account-box:before {
    content: "\e924";
  }
  .dlp-icon-favorite:before {
    content: "\e925";
  }
  .dlp-icon-favorite-outline:before {
    content: "\e926";
  }
  .dlp-icon-search:before {
    content: "\e927";
  }
  .dlp-icon-grid:before {
    content: "\e928";
  }
  .dlp-icon-radio-button-unchecked:before {
    content: "\e929";
  }
  .dlp-icon-print:before {
    content: "\e92a";
  }
  .dlp-icon-share:before {
    content: "\e92b";
  }
  .dlp-icon-border-bottom:before {
    content: "\e92c";
  }
  .dlp-icon-collectionsphoto-library:before {
    content: "\e92d";
  }
  .dlp-icon-color-lenspalette:before {
    content: "\e92e";
  }
  .dlp-icon-more-vert:before {
    content: "\e92f";
  }
  .dlp-icon-notifications:before {
    content: "\e930";
  }
  .dlp-icon-account-circle:before {
    content: "\e931";
  }
  .dlp-icon-done:before {
    content: "\e932";
  }
  .dlp-icon-done-all:before {
    content: "\e933";
  }
  .dlp-icon-exit:before {
    content: "\e934";
  }
  .dlp-icon-list:before {
    content: "\eaaa";
  }
  .dlp-icon-loyalty:before {
    content: "\e936";
  }
  .dlp-icon-settings:before {
    content: "\e937";
  }
  .dlp-icon-settings-input:before {
    content: "\e938";
  }
  .dlp-icon-supervisor:before {
    content: "\e939";
  }
  .dlp-icon-home:before {
    content: "\e93a";
  }
  .dlp-icon-attach-money:before {
    content: "\e93b";
  }
  .dlp-icon-local-shipping:before {
    content: "\e93c";
  }
  .dlp-icon-location-city:before {
    content: "\e93d";
  }
  .dlp-icon-thumb-up-alt:before {
    content: "\e93e";
  }
  .dlp-icon-account-balance:before {
    content: "\e93f";
  }
  .dlp-icon-home-filled:before {
    content: "\e940";
  }
  .dlp-icon-supervisor-account:before {
    content: "\e941";
  }
  .dlp-icon-arrow-left:before {
    content: "\f060";
  }
  .dlp-icon-arrow-right:before {
    content: "\f061";
  }
  .dlp-icon-arrow-up:before {
    content: "\f062";
  }
  .dlp-icon-arrow-down:before {
    content: "\f063";
  }
  .dlp-icon-phone-square:before {
    content: "\f098";
  }
  .dlp-icon-twitter:before {
    content: "\f099";
  }
  .dlp-icon-facebook:before {
    content: "\f09a";
  }
  .dlp-icon-rss:before {
    content: "\f09e";
  }
  .dlp-icon-google-plus:before {
    content: "\f0d5";
  }
  .dlp-icon-linkedin:before {
    content: "\f0e1";
  }
  .dlp-icon-chevron-circle-down:before {
    content: "\f13a";
  }
  .dlp-icon-youtube:before {
    content: "\f167";
  }
  .dlp-icon-youtube-play:before {
    content: "\f16a";
  }
  .dlp-icon-instagram:before {
    content: "\f16e";
  }
  .dlp-icon-skype:before {
    content: "\f17e";
  }
  .dlp-icon-language:before {
    content: "\f1ac";
  }
  .dlp-icon-pininterest:before {
    content: "\f231";
  }
  .dlp-icon-vimeo:before {
    content: "\f27d";
  }
  .dlp-icon-address-book:before {
    content: "\f2b9";
  }
  .dlp-icon-chart-area:before {
    content: "\f1fe";
  }
  .dlp-icon-chart-bar:before {
    content: "\f080";
  }
  .dlp-icon-chart-line:before {
    content: "\f201";
  }
  .dlp-icon-chart-pie:before {
    content: "\f200";
  }
  .dlp-icon-video-recording:before {
    content: "\e94b";
  }
  .dlp-icon-link:before {
    content: "\e95f";
  }
  .dlp-icon-insert_link:before {
    content: "\e95f";
  }
  .dlp-icon-http:before {
    content: "\e960";
  }
  .dlp-icon-chat:before {
    content: "\e950";
  }
  .dlp-icon-description:before {
    content: "\e951";
  }
  .dlp-icon-trending-up:before {
    content: "\e952";
  }
  .dlp-icon-open-new:before {
    content: "\e94f";
  }
  .dlp-icon-pause:before {
    content: "\e94e";
  }
  .dlp-icon-visibility:before {
    content: "\e942";
  }
  .dlp-icon-chrome-reader-mode:before {
    content: "\e945";
  }
  .dlp-icon-dns:before {
    content: "\e944";
  }
  .dlp-icon-visibility-off:before {
    content: "\e943";
  }
  .dlp-icon-language-globe:before {
    content: "\e946";
  }
  .dlp-icon-camera1:before {
    content: "\e947";
  }
  .dlp-icon-3d_rotation:before {
    content: "\e948";
  }
  .dlp-icon-help:before {
    content: "\e949";
  }
  .dlp-icon-info_outline:before {
    content: "\e94a";
  }
  .dlp-icon-cloud_download:before {
    content: "\e94c";
  }
  .dlp-icon-backspace:before {
    content: "\e94d";
  }
  .dlp-icon-delete:before {
    content: "\e953";
  }
  .dlp-icon-text:before {
    content: "\e961";
  }
  .dlp-icon-video-camera2:before {
    content: "\e954";
  }
  .dlp-icon-image:before {
    content: "\e95a";
  }
  .dlp-icon-calendar:before {
    content: "\e95b";
  }
  .dlp-icon-group:before {
    content: "\e95c";
  }
  .dlp-icon-th-large:before {
    content: "\e95d";
  }
  .dlp-icon-video-camera:before {
    content: "\e955";
  }
  .dlp-icon-times-circle:before {
    content: "\e956";
  }
  
  