body{min-height: auto;--gcs:0.6rem;}
[g-c]>p{background: rgba(0,0,0,0.16);display: block;padding: 0;margin: 0;padding: 0.75rem;font-size: 1.5rem;text-align: center;line-height: 2rem;}


[g-c]{display: block;flex-basis: 0;flex-grow: 1;flex-shrink: 1;padding: var(--gcs);}
[g-c] [g-g]{padding: var(--gcs);}
[g-c]:not([g-c=""]){flex: none;}
[g-r]{display: flex;--gs:4;flex-flow: row wrap;/* margin: var(--gcs); */align-items: flex-start;}
[g-r]:not(:last-child) {}
[g-r][g-c]{display: flex;flex-flow: row wrap;padding: 0;margin: 0;}

[g-c*="1/4"]{--cs:1;}
[g-c*="2/4"]{--cs:2;}
[g-c*="3/4"]{--cs:3;}
[g-c*="4/4"]{--cs:4;}

@media screen and (max-width:767px) {
    [g-c$="0/4"]{display: none;}
    [g-c]:not([g-c*="/4"]){flex: auto;}
    [g-c][g-c*="/4"]{flex: none;}
}

@media screen and (min-width:768px) {
    [g-r]{--gs:8;}
    [g-c$="0/8"]{display: none;}
    [g-c*="1/8"]{--cs:1;}
    [g-c*="2/8"]{--cs:2;}
    [g-c*="3/8"]{--cs:3;}
    [g-c*="4/8"]{--cs:4;}
    [g-c*="5/8"]{--cs:5;}
    [g-c*="6/8"]{--cs:6;}
    [g-c*="7/8"]{--cs:7;}    
    [g-c*="8/8"]{--cs:8;}    
    [g-c]:not([g-c*="/8"]){flex: auto;}
    [g-c][g-c*="/8"]{flex: none;}
}

@media screen and (min-width:1024px) {
    [g-r]{--gs:12;}
    [g-c$="0/12"]{display: none;}
    [g-c*="1/12"]{--cs:1;}
    [g-c*="2/12"]{--cs:2;}
    [g-c*="3/12"]{--cs:3;}
    [g-c*="4/12"]{--cs:4;}
    [g-c*="5/12"]{--cs:5;}
    [g-c*="6/12"]{--cs:6;}
    [g-c*="7/12"]{--cs:7;}
    [g-c*="8/12"]{--cs:8;}
    [g-c*="9/12"]{--cs:9;}
    [g-c*="10/12"]{--cs:10;}
    [g-c*="11/12"]{--cs:11;}
    [g-c*="12/12"]{--cs:12;}
    [g-c]:not([g-c*="/12"]){flex: auto;}
    [g-c][g-c*="/12"]{flex: none;}
	[g-c*="2.4/12"]{--cs:2.4;}
    
}

@media screen and (min-width:1440px) {
    [g-r]{--gs:16;}
    [g-c$="0/16"]{display: none;}
    [g-c*="1/16"]{--cs:1;}
    [g-c*="2/16"]{--cs:2;}
    [g-c*="3/16"]{--cs:3;}
    [g-c*="4/16"]{--cs:4;}
    [g-c*="5/16"]{--cs:5;}
    [g-c*="6/16"]{--cs:6;}
    [g-c*="7/16"]{--cs:7;}
    [g-c*="8/16"]{--cs:8;}
    [g-c*="9/16"]{--cs:9;}
    [g-c*="10/16"]{--cs:10;}
    [g-c*="11/16"]{--cs:8;}
    [g-c*="12/16"]{--cs:12;}
    [g-c*="13/16"]{--cs:13;}
    [g-c*="14/16"]{--cs:14;}
    [g-c*="15/16"]{--cs:15;}    
    [g-c*="16/16"]{--cs:16;}   
    [g-c]:not([g-c*="/16"]){flex: auto;}
	[g-c*="3.2/16"]{--cs:3.2;}
}

[g-c]:not([g-c=""]){width: calc(100% * var(--cs,--gs)/var(--gs));box-sizing: border-box;}