.ad-font{font-family: 'Nunito', sans-serif;}

img {max-width: 100%;max-height: 100%;}
.ad-button {background: transparent;border: 0;border-radius: 0px;color:var(--ad-c-light);font-family: var(--ad-font-1);position: relative;height: 40px;margin: 0;min-width:95px;padding: 0 16px;display: inline-block;font-size: 13px;font-weight: 500;text-transform: capitalize;line-height: 1;letter-spacing: 0;overflow: hidden;will-change: box-shadow;outline: 0;cursor: pointer;text-decoration: none;text-align: center;line-height: 36px;vertical-align: middle;}
a.ad-button.bg-fade {color:var(--ad-c-light);}
a.ad-button.ad-button-icon {width: 40px;height: 40px;padding: 0;min-width: auto;margin: 0 10px;line-height: 2.1;overflow: visible;}
.ad-inverse-button {border: 1px solid var(--ad-c-1);background-color: #ffffff;border-radius: 4px;padding: 1px 16px;margin: 0;min-width: 60px;display: inline-block;font-size: 13px;font-weight: 500;text-transform: capitalize;line-height: 1;letter-spacing: 0;overflow: hidden;will-change: box-shadow;outline: 0;cursor: pointer;text-decoration: none;text-align: center;line-height: 39px;vertical-align: middle;}
.ad-inverse-button > i {margin-right: 4px;}
button.ad-button.ad-secondary-button {color: var(--ad-c-1);border: 1px solid var(--ad-c-1);min-width: 120px;}
button.ad-button.ad-secondary-button.no-border {border: 0 none;}
button.ad-button.ad-tertiary-button {color: var(--ad-c-10);background-color: #e3e3e3;}
button.ad-button.ad-warning-button {color: var(--ad-c-2);background-color: #F4B124;}
button.ad-button.ad-warning-button:hover {background-color: #eaa412 !important;}
button.ad-button.only-icon{min-width: 42px;}

.ad-list{display: block;margin: 0;padding: 0;}
.ad-list-h>li{display: inline-block;margin: 0 10px;}
.ad-list-v>li{display:block;margin: 10px 0 10px 0px;list-style-type: none;} 

.ad-justify-start>.ad-ulist>li:first-child,.ad-ulist.ad-text-left>li:first-child{margin-left: 0;}
.ad-justify-end>.ad-list>li:last-child,.ad-list.ad-text-right>li:last-child{margin-right: 0;}



.ad-text-left{text-align:left;}
.ad-text-center{text-align:center;}
.ad-text-right{text-align:right;}



[data-ad-grid]{max-width: 1440px;margin: 0 auto;}
[data-ad-g-r]{display: -webkit-box;display: -ms-flexbox;display: flex!important;-webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-flow: row wrap;flex-flow: row wrap;margin: 0 auto 0 auto;-webkit-box-align: stretch;-ms-flex-align: stretch;align-items: stretch;}
.ad-flex {display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;}
.ad-justify-end{display: -webkit-box;display: -ms-flexbox;display: flex;justify-content: flex-end;}
.ad-justify-start{display: -webkit-box;display: -ms-flexbox;display: flex;justify-content: flex-start;}
.ad-justify-center{display: -webkit-box;display: -ms-flexbox;display: flex;justify-content: center;}
.ad-justify-between{display: -webkit-box;display: -ms-flexbox;display: flex;justify-content: space-between;}
.ad-justify-around{display: -webkit-box;display: -ms-flexbox;display: flex;justify-content: space-around;}
.ad-align-end{display: -webkit-box;display: -ms-flexbox;display: flex;align-items: flex-end;}
.ad-align-start{display: -webkit-box;display: -ms-flexbox;display: flex;align-items: flex-start;}
.ad-align-center{display: -webkit-box;display: -ms-flexbox;display: flex;align-items: center;}
.ad-layout-spacer{-webkit-box-flex: 1;-webkit-flex-grow: 1;-ms-flex-positive: 1;flex-grow: 1;}
.ad-flex-row {-ms-flex-direction: row!important;flex-direction: row!important;}
.ad-flex-column {-ms-flex-direction: column!important;flex-direction: column!important;}
.ad-flex-wrap{-webkit-flex-wrap: wrap;flex-wrap: wrap;}
.ad-flexible{-webkit-flex: 1;-ms-flex: 1; flex: 1;}
.ad-align-stretch{display: -webkit-box;display: -ms-flexbox;display: flex;align-items: stretch;}

.ad-link{cursor: pointer;text-decoration: underline;color: var(--ad-c-1)}
.ad-bg-light{background:var(--ad-c-light);}

.content-spacing {padding-top: 2rem;padding-bottom: 2rem;}
.content-spacing.offset-top{padding-top: 4rem;}
.content-spacing.offset-bottom{padding-bottom: 4rem;}
.content-spacing.offset-top-2x{padding-top: 6rem;}
.content-spacing.offset-bottom-2x{padding-bottom: 6rem;}
.content-style h2, .content-style h3 {width: 100%;padding: 8px 0;font-size: 2.9rem;z-index: 1;font-weight: 700;text-transform: none;width: 100%;text-align: center;margin-bottom: 40px!important;color: #002a59;position: relative;}
.content-style h2[data-sub-text]:after {display: block;content: attr(data-sub-text);font-size: 1.6rem;padding: 1rem 0 .3rem 0;font-style: normal;margin: 0;color: #6f6f6f;}

/*padding*/
[class*="ad-p-"] {box-sizing: border-box;}
.ad-p-5{padding: 5px;}
.ad-p-8{padding: 8px;}
.ad-p-10{padding: 10px;}
.ad-p-20{padding: 20px;}
.ad-p-8-0{padding: 8px 0;}
.ad-p-0-8{padding: 0 8px;}
.ad-p-0-8-0-0{padding: 0 8px 0 0;}
.ad-p-0-0-0-8{padding: 0 0 0 8px;}
.ad-p-5-0{padding: 5px 0;}
.ad-p-10-0{padding: 10px 0;}
.ad-p-0-10-0-0{padding: 0 10px 0 0;}
.ad-p-0-0-0-10{padding: 0 0 0 10px;}
.ad-p-8-10{padding: 8px 10px;}
.ad-p-0-0-20-0{padding-bottom: 20px !important;}
.ad-p-0-0-30-0{padding-bottom: 30px !important;}
.ad-p-0-16-0-0{padding-right:16px!important;}
.ad-p-0-0-0-16{padding-left:16px!important;}

/*margin*/
.ad-m-0{margin: 0px!important;}
.ad-m-8{margin: 8px;}
.ad-m-10{margin: 10px;}
.ad-m-8-0{margin: 8px 0;}
.ad-m-0-8-0-0{margin: 0 8px 0 0;}
.ad-m-0-0-0-8{margin: 0 0 0 8px;}
.ad-m-10-0{margin: 10px 0!important;}
.ad-m-10-0-0-0{margin-top: 10px!important;}
.ad-m-0-10-0-0{margin: 0 10px 0 0!important;}
.ad-m-0-20-0-0{margin: 0 20px 0 0!important;}
.ad-m-0-0-0-10{margin: 0 0 0 10px;}
.ad-m-0-0-10-0{margin-bottom: 10px !important;}
.ad-m-0-0-20-0{margin-bottom: 20px !important;}
.ad-m-20-0-0-0{margin-top: 20px !important;}
.ad-m-0-0-35-0{margin-bottom: 35px !important;}
.ad-m-35-0-0-0{margin-top: 35px !important;}
.ad-m-8-10{margin: 8px 10px;}
.ad-m-0-0-0-20{margin: 0 0 0 20px!important;}
.ad-m-35-0-50-0{margin: 35px 0 50px 0!important;}

.ad-f-u{text-transform: uppercase;}
@media screen and (min-width:841px) {
.ad-m-first {margin-left: 0;}
}

.ad-s-10{padding: 10px;box-sizing: border-box;}

/*default*/
html,body{font-family: var(--ad-font-1);}
body{margin: 0;}

.ad-header.sticky{position: absolute;left: 0;top: 0;width: 100%;height: auto;z-index: 9;color: rgb(255, 255, 255);padding: 0 10px;box-sizing: border-box;}
.ad-header .ad-g-r:first-child {border-bottom: 1px solid rgb(255, 255, 255);}
nav.ad-navigation ul.ad-list>li {font-size:13px;position: relative;list-style-type: none;}

section{position: relative;}


footer.ad-footer{background: #303030;padding: 0;color: rgb(255, 255, 255);}
footer.ad-footer .address p, footer.ad-footer .address p a {margin: 0;margin-bottom: 3px;color: #fff;line-height: 1.3;text-decoration: none;font-size: 0.9rem;}
footer.ad-footer .ad-r:first-child, footer.ad-footer .ad-r:nth-child(2) {border-bottom: 1px solid rgba(255, 255, 255, 0.5);}


@media screen and (max-width:840px) {

}
@media screen and (min-width:481px) and (max-width: 840px) {

}

@media screen and (max-width:480px) {


}

.ad-model-wrapper{position: relative;}
.ad-model-errors{display: block;list-style: none;color: white;position: absolute;left: -2px;top: 100%;margin: 0;padding: 0;font-size: 12px;padding: 12px 11px;background:var(--ad-c-9);border-radius: 2px;width: calc(100% + 4px);box-sizing: border-box;margin-top: 10px;z-index: 999;transform: scale(0);transition: all .3s cubic-bezier(0.39, 0.575, 0.565, 1);transform-origin: 0 -12px;}
.ad-model-wrapper.ad-model-invalid.ad-model-focus>.ad-model-errors.active,.ad-model-invalid.ad-model-focus~.ad-model-errors.active{transform: scale(1);}
.ad-model-errors li{display: block;}
.ad-in-text,.ad-in-select,.ad-in-check{position: relative;font-size: 16px;z-index: 1;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;margin:20px 0;max-width: 350px;}
.ad-in-check {margin: 5px 20px;}
.ad-in-text>input,.ad-in-text>textarea,.ad-in-select>select{position: relative;display: block;font-family: var(--ad-font-1);float: right;padding:10.5px 15px;width: 100%;background-color:#ffffff;border: 2px solid rgba(0,0,0,.2);-webkit-transition: background-color 0.25s, border-color 0.25s;transition: background-color 0.25s, border-color 0.25s;outline: none;}
.ad-in-text>input:focus,.ad-in-text.ad-model-not-empty>input,.ad-in-text>textarea:focus,.ad-in-text.ad-model-not-empty>textarea,.ad-in-select>select:focus,.ad-in-select.ad-model-not-empty>select{background-color: transparent;border-color: var(--ad-c-1);outline: none;}
.ad-in-text.ad-model-invalid>input{border-color: var(--ad-c-9)!important;}
.ad-in-text>label,.ad-in-select>label{width: 100%;text-align: left;position: absolute;bottom: 100%;color: #696969;pointer-events: none;overflow: hidden;-webkit-transform: translate3d(0, 38px, 0);transform: translate3d(0, 38px, 0);-webkit-transition: -webkit-transform 0.25s;transition: transform 0.25s;-webkit-transition-timing-function: ease-in-out;transition-timing-function: ease-in-out;padding:10.5px 15px;box-sizing: border-box;font-size:13px;}
.ad-in-select > label {transform: translate3d(0, 41px, 0);}
.ad-in-text>input:focus~label,.ad-in-text.ad-model-not-empty>input~label,.ad-in-text>textarea:focus~label,.ad-in-text.ad-model-not-empty>textarea~label,.ad-in-select>select:focus~label,.ad-in-select.ad-model-not-empty>select~label{-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);padding: 0 15px 5px 15px;color:var(--ad-c-3);}
.ad-in-text>textarea {min-height: 50px;}
.ad-in-text>input,.ad-in-select>select,.ad-in-text>textarea {color: var(--ad-c-2);font-size: 13px;}
.ad-in-full{max-width: 100%;}
.ad-in-width{width: 100%;}

.ad-in-text > input ~ [ad-validation-message], .ad-in-select > select ~ [ad-validation-message], .ad-in-text > textarea ~ [ad-validation-message] {position: absolute;font-size: 10.5px;letter-spacing: 0.2px;bottom: -14px;right: 0;color: var(--ad-c-error);transition: bottom 200ms cubic-bezier(0.17, 0.04, 0.03, 0.94);z-index: -1;}
/*.ad-in-text > input ~ .active[ad-validation-message], .ad-in-select > select ~ .active[ad-validation-message], .ad-in-text > textarea ~ .active[ad-validation-message]{bottom:-14px}*/

.ad-in-check input[type='radio']:checked + label > span:before{content: "";position: absolute;top: 50%;left: 50%;border: 4px solid #fff;transform: translate(-50%,-50%);transform-origin: 0% 100%;border-radius: 50%;}
.ad-in-check input[type='radio'] + label > span {border-radius: 50% !important;}
.ad-in-check input[type='radio']:checked + label > span{border: .6em solid var(--ad-c-1);}
.ad-in-check input[type='checkbox']:checked + label > span:before {content: "";position: absolute;top: calc(50% - 3px);left: calc(50% - 5px);border-right: 2px solid transparent;border-bottom: 2px solid transparent;transform-origin: 0% 100%;animation: checkbox-check 125ms 250ms cubic-bezier(.4,.0,.23,1) forwards;transform: translate(-50%,-50%);}
.ad-in-check input[type='checkbox']:checked + label > span {border:10px solid var(--ad-c-1);animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);}
.ad-in-check input[type='checkbox'] + label > span,.ad-in-check input[type='radio'] + label > span {display: flex;justify-content: center;align-items: center;width: 20px;height: 20px;background: transparent;border: 2px solid #9E9E9E;border-radius: 2px;cursor: pointer;transition: all 250ms cubic-bezier(.4,.0,.23,1);box-sizing: border-box;position: relative;font-size: 11px;}
.ad-in-check input[type='checkbox'] + label,.ad-in-check input[type='radio'] + label {position: relative;display: flex;margin:9px 0;align-items: center;color: var(--ad-c-4);transition: color 250ms cubic-bezier(.4,.0,.23,1);cursor: pointer;}
.ad-in-check input[type='checkbox'] + label.ad-label>span, .ad-in-check input[type='radio'] + label.ad-label>span {margin-right: 10px;}
.ad-in-check input[type='checkbox'],.ad-in-check input[type='radio'] {height: 0;width: 0;opacity: 0;margin: 0;}
.ad-in-check input[type='checkbox'] + label:hover > span, input[type='checkbox']:focus + label > span,.ad-in-check input[type='radio'] + label:hover > span, input[type='radio']:focus + label > span {background: rgba(255,255,255,.1);}
span.ad-in-check.select-all:after {content: "";width: 16px;height: 16px;background: transparent;border: 2px solid #9E9E9E;border-radius: 2px;cursor: pointer;display: inline-block;margin-left: -9px;margin-top: -4px;background-color: rgb(255, 255, 255);}
span.ad-in-check.select-all {margin-top: 12px;margin: 0;background-color: #ffffff;padding: 4px 14px 10px 14px;border-radius: 4px;margin-right:5px;max-height: 20px;display: inline-block;min-width: 20px;margin: 0px 20px 5px 14px;}
span.ad-in-check.select-all label{position: absolute;top: -4px;background-color: rgb(255, 255, 255);left: 9px;}

@keyframes shrink-bounce{
  0%{transform: scale(1);}
  33%{transform: scale(.85);}
  100%{transform: scale(1);}
}
@keyframes checkbox-check{
  0%{width: 0;height: 0;border-color: #ffffff;transform: translate3d(0,0,0) rotate(45deg);}
  33%{width: 3px;height: 0;transform: translate3d(0,0,0) rotate(45deg);}
  100%{    width:3px;height: 7px;    border-color: #ffffff;transform: translate3d(0,-.5em,0) rotate(45deg);}
}

.ad-drop ul.drop-list li:hover {padding-left: 20px;}
.ad-drop ul.drop-list li {display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;padding: 10px 10px 10px 14px;border-bottom:1px solid #f3f7fd;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-ms-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;font-size:13px;cursor: pointer;color: var(--ad-c-1);-webkit-justify-content:flex-start;-ms-flex-pack:center;justify-content:flex-start;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
.ad-drop ul.drop-list li>i,.ad-drop ul.drop-list li i {padding-right: 8px;color: var(--ad-c-1);font-size: 14px;}
.ad-drop ul.drop-list li a {color: var(--ad-c-1);text-decoration: none;}
.ad-drop ul.drop-list li:hover a[data-tooltip] {z-index: 999;}
.ad-drop ul.drop-list {position: absolute;top: 100%;margin-top: 1px;right:0px;background: rgb(255, 255, 255);border: inherit;border-top: none;list-style: none;-webkit-transition: all 0.25s ease-out;-moz-transition: all 0.25s ease-out;  -ms-transition: all 0.25s ease-out;-o-transition: all 0.25s ease-out;transition: all 0.25s ease-out;opacity: 0;pointer-events: none;margin: 0;padding: 0;z-index: 99;border-radius: 4px;width: 180px;border: 0 none;}
.ad-drop ul.drop-list li:last-child {border-bottom: 0 none;}
.ad-drop.active ul.drop-list{opacity: 1;pointer-events: auto;display: inline-block;}
span.ad-drop {position: relative;}
.ad-drop ul.drop-list li.delete i, .ad-drop ul.drop-list li.delete {color: var(--ad-c-9);}
[ad-have-child] {position: relative;}

.ad-card-1{box-shadow: 0 1px 15px 1px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04);}
.ad-card-2{box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);}
.ad-card-3{box-shadow: 0 0 10px -5px rgb(0 0 0 / 20%), 0 0 24px 2px rgb(0 0 0 / 14%), 0 0 30px 5px rgb(0 0 0 / 12%);}

.ad-navigation.ad-menu li a:before {content: attr(data-mov);position: absolute;left: 0;color:var(--ad-c-1);width: 0%;overflow: hidden;white-space: nowrap;transition: all 0.45s;}
.ad-navigation.ad-menu li a:after {position: absolute;top: 100%;left: 0;width: 0;height: 2px;background:var(--ad-c-1);content: '';transition: all 0.45s;}
.ad-navigation.ad-menu li a.active:after {background: #88A9A4;width: 100%;}
.ad-navigation.ad-menu li a:hover:before,.ad-navigation.ad-menu li a:hover:after  {width: 100%;}
.ad-navigation.ad-menu li a {padding: 10px 0;position: relative;}


.tabed-view input[type="radio"] {display: none;}

.tabed-view.default .tabs, .tabed-view.default .tab-contents {
    margin-top: 0;
    margin-bottom: 0;
}
.tab-content-wrapper {
    margin: 0;
    width: 100%;
    padding-top: 12px;
}
.tabed-view .tab-contents {
    position: relative;
}
.tabed-view .tab-contents .tab-content {
    position: relative;
    opacity: 0;
    transition: .3s all cubic-bezier(0.4,0.3,0.1,0.2);
    max-height: 0;
/*    margin-top: 0!important;
    margin-bottom: 0!important;*/
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
}
.tabed-view.menu>.tab-contents>.tab-content {
    display: block;
    position: relative;
    opacity: 1;
    visibility: visible;
    max-height: none;
    overflow: visible;
}
.tabed-view input[type="radio"]:nth-child(1):checked~.tab-contents .tab-content:nth-child(1), .tabed-view input[type="radio"]:nth-child(2):checked~.tab-contents .tab-content:nth-child(2), .tabed-view input[type="radio"]:nth-child(3):checked~.tab-contents .tab-content:nth-child(3), .tabed-view input[type="radio"]:nth-child(4):checked~.tab-contents .tab-content:nth-child(4), .tabed-view input[type="radio"]:nth-child(5):checked~.tab-contents .tab-content:nth-child(5), .tabed-view input[type="radio"]:nth-child(6):checked~.tab-contents .tab-content:nth-child(6), .tabed-view input[type="radio"]:nth-child(7):checked~.tab-contents .tab-content:nth-child(7), .tabed-view input[type="radio"]:nth-child(8):checked~.tab-contents .tab-content:nth-child(8), .tabed-view input[type="radio"]:nth-child(9):checked~.tab-contents .tab-content:nth-child(9), .tabed-view input[type="radio"]:nth-child(10):checked~.tab-contents .tab-content:nth-child(10), .tabed-view input[type="radio"]:nth-child(11):checked~.tab-contents .tab-content:nth-child(11), .tabed-view input[type="radio"]:nth-child(12):checked~.tab-contents .tab-content:nth-child(12), .tabed-view input[type="radio"]:nth-child(13):checked~.tab-contents .tab-content:nth-child(13), .tabed-view input[type="radio"]:nth-child(14):checked~.tab-contents .tab-content:nth-child(14), .tabed-view input[type="radio"]:nth-child(15):checked~.tab-contents .tab-content:nth-child(15), .tabed-view input[type="radio"]:nth-child(16):checked~.tab-contents .tab-content:nth-child(16), .tabed-view input[type="radio"]:nth-child(1):checked~.associate-container .tab-contents .tab-content:nth-child(1), .tabed-view input[type="radio"]:nth-child(2):checked~.associate-container .tab-contents .tab-content:nth-child(2), .tabed-view input[type="radio"]:nth-child(3):checked~.associate-container .tab-contents .tab-content:nth-child(3), .tabed-view input[type="radio"]:nth-child(4):checked~.associate-container .tab-contents .tab-content:nth-child(4), .tabed-view input[type="radio"]:nth-child(5):checked~.associate-container .tab-contents .tab-content:nth-child(5), .tabed-view input[type="radio"]:nth-child(6):checked~.associate-container .tab-contents .tab-content:nth-child(6), .tabed-view input[type="radio"]:nth-child(7):checked~.associate-container .tab-contents .tab-content:nth-child(7), .tabed-view input[type="radio"]:nth-child(8):checked~.associate-container .tab-contents .tab-content:nth-child(8), .tabed-view input[type="radio"]:nth-child(9):checked~.associate-container .tab-contents .tab-content:nth-child(9), .tabed-view input[type="radio"]:nth-child(10):checked~.associate-container .tab-contents .tab-content:nth-child(10), .tabed-view input[type="radio"]:nth-child(11):checked~.associate-container .tab-contents .tab-content:nth-child(11), .tabed-view input[type="radio"]:nth-child(12):checked~.associate-container .tab-contents .tab-content:nth-child(12), .tabed-view input[type="radio"]:nth-child(13):checked~.associate-container .tab-contents .tab-content:nth-child(13), .tabed-view input[type="radio"]:nth-child(14):checked~.associate-container .tab-contents .tab-content:nth-child(14), .tabed-view input[type="radio"]:nth-child(15):checked~.associate-container .tab-contents .tab-content:nth-child(15), .tabed-view input[type="radio"]:nth-child(16):checked~.associate-container .tab-contents .tab-content:nth-child(16){display: block;
    position: relative;
    opacity: 1;
    visibility: visible;
    max-height: none;
    overflow: visible;
}
.tabed-view.default .tabs {
margin-bottom: 8px !important;
border-bottom: 1px solid #dbdfea;
}
.tabed-view .tabs label {
    padding: 8px;
    color: var(--ad-c-3);
    font-weight: 400;
    border-radius: 0px;
    width: auto;
    text-align: center;
    line-height: 20px;
    z-index: 1;
    font-size: 13px;
	-webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.tabed-view.default .tabs label {
    padding: 16px;
    font-size: 14px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 0 2px;
}
.tabed-view.default .tabs label::after {position: absolute;bottom: 0;left: 0;width: 100%;height: 4px;background: var(--ad-c-1);content: '';-webkit-transition: -webkit-transform 0.3s;transition: transform 0.3s;-webkit-transform: translate3d(0,150%,0);transform: translate3d(0,150%,0);}
.tabed-view.default input[type="radio"]:nth-child(1):checked~.tabs label:nth-child(1)::after, .tabed-view.default input[type="radio"]:nth-child(2):checked~.tabs label:nth-child(2)::after, .tabed-view.default input[type="radio"]:nth-child(3):checked~.tabs label:nth-child(3)::after, .tabed-view.default input[type="radio"]:nth-child(4):checked~.tabs label:nth-child(4)::after, .tabed-view.default input[type="radio"]:nth-child(5):checked~.tabs label:nth-child(5)::after, .tabed-view.default input[type="radio"]:nth-child(6):checked~.tabs label:nth-child(6)::after, .tabed-view.default input[type="radio"]:nth-child(7):checked~.tabs label:nth-child(7)::after, .tabed-view.default input[type="radio"]:nth-child(8):checked~.tabs label:nth-child(8)::after, .tabed-view.default input[type="radio"]:nth-child(9):checked~.tabs label:nth-child(9)::after, .tabed-view.default input[type="radio"]:nth-child(10):checked~.tabs label:nth-child(10)::after, .tabed-view.default input[type="radio"]:nth-child(11):checked~.tabs label:nth-child(11)::after, .tabed-view.default input[type="radio"]:nth-child(12):checked~.tabs label:nth-child(12)::after, .tabed-view.default input[type="radio"]:nth-child(13):checked~.tabs label:nth-child(13)::after, .tabed-view.default input[type="radio"]:nth-child(14):checked~.tabs label:nth-child(14)::after, .tabed-view.default input[type="radio"]:nth-child(15):checked~.tabs label:nth-child(15)::after, .tabed-view.default input[type="radio"]:nth-child(16):checked~.tabs label:nth-child(16){
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.tabed-view.default input[type="radio"]:nth-child(1):checked~.tabs label:nth-child(1), .tabed-view.default input[type="radio"]:nth-child(2):checked~.tabs label:nth-child(2), .tabed-view.default input[type="radio"]:nth-child(3):checked~.tabs label:nth-child(3), .tabed-view.default input[type="radio"]:nth-child(4):checked~.tabs label:nth-child(4), .tabed-view.default input[type="radio"]:nth-child(5):checked~.tabs label:nth-child(5), .tabed-view.default input[type="radio"]:nth-child(6):checked~.tabs label:nth-child(6), .tabed-view.default input[type="radio"]:nth-child(7):checked~.tabs label:nth-child(7), .tabed-view.default input[type="radio"]:nth-child(8):checked~.tabs label:nth-child(8), .tabed-view.default input[type="radio"]:nth-child(9):checked~.tabs label:nth-child(9), .tabed-view.default input[type="radio"]:nth-child(10):checked~.tabs label:nth-child(10), .tabed-view.default input[type="radio"]:nth-child(11):checked~.tabs label:nth-child(11), .tabed-view.default input[type="radio"]:nth-child(12):checked~.tabs label:nth-child(12), .tabed-view.default input[type="radio"]:nth-child(13):checked~.tabs label:nth-child(13), .tabed-view.default input[type="radio"]:nth-child(14):checked~.tabs label:nth-child(14), .tabed-view.default input[type="radio"]:nth-child(15):checked~.tabs label:nth-child(15), .tabed-view.default input[type="radio"]:nth-child(16):checked~.tabs label:nth-child(16){
    color: var(--ad-c-1);
    display: inline-block;
}
.tabed-view input[type="radio"]:nth-child(1):checked~.tabs label:nth-child(1), .tabed-view input[type="radio"]:nth-child(2):checked~.tabs label:nth-child(2), .tabed-view input[type="radio"]:nth-child(3):checked~.tabs label:nth-child(3), .tabed-view input[type="radio"]:nth-child(4):checked~.tabs label:nth-child(4), .tabed-view input[type="radio"]:nth-child(5):checked~.tabs label:nth-child(5), .tabed-view input[type="radio"]:nth-child(6):checked~.tabs label:nth-child(6), .tabed-view input[type="radio"]:nth-child(7):checked~.tabs label:nth-child(7), .tabed-view input[type="radio"]:nth-child(8):checked~.tabs label:nth-child(8), .tabed-view input[type="radio"]:nth-child(9):checked~.tabs label:nth-child(9), .tabed-view input[type="radio"]:nth-child(10):checked~.tabs label:nth-child(10), .tabed-view input[type="radio"]:nth-child(11):checked~.tabs label:nth-child(11), .tabed-view input[type="radio"]:nth-child(12):checked~.tabs label:nth-child(12), .tabed-view input[type="radio"]:nth-child(13):checked~.tabs label:nth-child(13), .tabed-view input[type="radio"]:nth-child(14):checked~.tabs label:nth-child(14), .tabed-view input[type="radio"]:nth-child(15):checked~.tabs label:nth-child(15), .tabed-view input[type="radio"]:nth-child(16):checked~.tabs label:nth-child(16), .tabed-view input[type="radio"]:nth-child(1):checked~.associate-container .tabs label:nth-child(1), .tabed-view input[type="radio"]:nth-child(2):checked~.associate-container .tabs label:nth-child(2), .tabed-view input[type="radio"]:nth-child(3):checked~.associate-container .tabs label:nth-child(3), .tabed-view input[type="radio"]:nth-child(4):checked~.associate-container .tabs label:nth-child(4), .tabed-view input[type="radio"]:nth-child(5):checked~.associate-container .tabs label:nth-child(5), .tabed-view input[type="radio"]:nth-child(6):checked~.associate-container .tabs label:nth-child(6), .tabed-view input[type="radio"]:nth-child(7):checked~.associate-container .tabs label:nth-child(7), .tabed-view input[type="radio"]:nth-child(8):checked~.associate-container .tabs label:nth-child(8), .tabed-view input[type="radio"]:nth-child(9):checked~.associate-container .tabs label:nth-child(9), .tabed-view input[type="radio"]:nth-child(10):checked~.associate-container .tabs label:nth-child(10), .tabed-view input[type="radio"]:nth-child(11):checked~.associate-container .tabs label:nth-child(11), .tabed-view input[type="radio"]:nth-child(12):checked~.associate-container .tabs label:nth-child(12), .tabed-view input[type="radio"]:nth-child(13):checked~.associate-container .tabs label:nth-child(13), .tabed-view input[type="radio"]:nth-child(14):checked~.associate-container .tabs label:nth-child(14), .tabed-view input[type="radio"]:nth-child(15):checked~.associate-container .tabs label:nth-child(15), .tabed-view input[type="radio"]:nth-child(16):checked~.associate-container .tabs label:nth-child(16){display: inline-block;}

.icon-hover:after {position: absolute;z-index: -1;height: 20px;width: 20px;top: 50%;left: 50%;transform: translate(-50%, -50%);transform-origin: 50% 50%;content: '';background-color:#e9e9e9;border-radius: 50%;opacity: 0;transition: all .3s;}
.icon-hover:hover:after {opacity: 1;height: 116%;width: 116%;}
.icon-hover {padding: 8px;box-sizing: content-box;position: relative;width: 18px;height: 18px;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;-webkit-align-items: center;-ms-flex-align:center;align-items:center;}

@-webkit-keyframes slideInRight {
  from {-webkit-transform: translate3d(100%, 0, 0);transform: translate3d(100%, 0, 0);visibility: visible;}
  to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
@keyframes slideInRight {
  from {-webkit-transform: translate3d(100%, 0, 0);transform: translate3d(100%, 0, 0);visibility: visible;}
  to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
.ad-slideInRight {-webkit-animation-name: slideInRight;animation-name: slideInRight;}

@-webkit-keyframes slideInLeft {
  from {-webkit-transform: translate3d(-100%, 0, 0);transform: translate3d(-100%, 0, 0);visibility: visible;}
  to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
@keyframes slideInLeft {
  from {-webkit-transform: translate3d(-100%, 0, 0);transform: translate3d(-100%, 0, 0);visibility: visible;}
  to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
.ad-slideInLeft {-webkit-animation-name: slideInLeft;animation-name: slideInLeft;}

@-webkit-keyframes slideInUp {
  from {-webkit-transform: translate3d(0, 100%, 0);transform: translate3d(0, 100%, 0);visibility: visible;}
  to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
@keyframes slideInUp {
  from {-webkit-transform: translate3d(0, 100%, 0);transform: translate3d(0, 100%, 0);visibility: visible;}
  to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
.ad-slideInUp {-webkit-animation-name: slideInUp;animation-name: slideInUp;}

@-webkit-keyframes slideInDown {
  from {-webkit-transform: translate3d(0, -100%, 0);transform: translate3d(0, -100%, 0);visibility: visible;}
  to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
@keyframes slideInDown {
  from {-webkit-transform: translate3d(0, -100%, 0);transform: translate3d(0, -100%, 0);visibility: visible;}
  to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
.ad-slideInDown {-webkit-animation-name: slideInDown;animation-name: slideInDown;}

@-webkit-keyframes zoomIn {
  from {opacity: 0;-webkit-transform: scale3d(0.3, 0.3, 0.3);transform: scale3d(0.3, 0.3, 0.3);}
  50% {opacity: 1;}
}
@keyframes zoomIn {
  from {opacity: 0;-webkit-transform: scale3d(0.3, 0.3, 0.3);transform: scale3d(0.3, 0.3, 0.3);}
  50% {opacity: 1;}
}
.ad-zoomIn {-webkit-animation-name: zoomIn;animation-name: zoomIn;}
.ad-animate {-webkit-animation-duration: 250ms;animation-duration: 250ms;-webkit-animation-duration: 250ms;animation-duration: 250ms;-webkit-animation-fill-mode: both;animation-fill-mode: both;}

span.ad-in-check-slide > input[type=checkbox] {display: none;}
span.ad-icon-switch-circle {position: absolute;-webkit-transition: all .2s ease;transition: all .2s ease;left:3px;top: 0;color: #ffffff;line-height:2;font-size:0.70em;}
span.ad-in-check-slide > input[type=checkbox]:checked + label span.ad-icon-switch-circle {left: calc(50% - -4px);}
span.ad-in-check-slide > input[type=checkbox] ~ label {-webkit-transition: all .4s ease;transition: all .4s ease;outline: 0;position: relative;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;margin-bottom: 0;color: #9E9E9E;font-size: 30px;}
span.ad-in-check-slide > input[type=checkbox]:checked + label.ad-icon-switch-base {color: var(--ad-c-1);}
span.ad-in-check-slide-container span.ad-in-check-slide-label {color: var(--ad-c-3);font-size: 13px;margin-right: 10px;}

.crop-text {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

.ad-pagination {display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;padding-left: 0;margin: 30px 0 0 0;list-style: none;border-radius: 5px;margin-bottom: 0 !important;}
.ad-pagination .ad-page-link {position: relative;width: 34px;height: 34px;margin-left: -2px;line-height: 1.25;color: var(--ad-c-4);background-color: var(--ad-c-light);border: 1px solid var(--ad-c-light);text-decoration: none;font-size: 13px;transition: color 0.25s ease;border-radius: 0;margin: 0 3px;cursor: pointer;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;border-radius: 4px;}
.ad-pagination .ad-page-item:first-child .ad-page-link {margin-right:0px;color: var(--ad-c-1);}
.ad-pagination .ad-page-item:last-child .ad-page-link {margin-left:0px;color: var(--ad-c-1);}
.ad-pagination .ad-page-item.active .ad-page-link {z-index: 3;color: #ffffff;background-color: var(--ad-c-1);border-color: var(--ad-c-1);}
.ad-pagination a.ad-page-link:hover {color: rgb(0 0 0);}
.ad-pagination .ad-page-item .ad-result-count,
.ad-pagination .ad-page-item .ad-goto-section{position: relative;height: 34px;margin-left: -2px;line-height: 1.25;text-decoration: none;font-size: 14px;transition: color 0.25s ease;border-radius: 0;margin: 0 3px;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;border-radius: 4px;}
.ad-pagination .ad-page-item .ad-goto-section{max-width:160px;}
.ad-pagination .ad-page-item .ad-goto-section.ad-in-text>input{height:34px;}
.ad-pagination .ad-page-item .ad-goto-section .label{font-style:normal;margin-right: 2px;}
.ad-pagination .ad-page-item .ad-result-count {font-size: 14px;padding-bottom: 0;}
.ad-pagination .ad-page-item .ad-result-count b {color: var(--ad-c-1);font-weight: 600;}

.tabed-view.default .tab-contents .tab-content {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.tabed-view.default input[type="radio"]:nth-child(1):checked ~ .tab-contents .tab-content:nth-child(1), .tabed-view.default input[type="radio"]:nth-child(2):checked ~ .tab-contents .tab-content:nth-child(2), .tabed-view.default input[type="radio"]:nth-child(3):checked ~ .tab-contents .tab-content:nth-child(3), .tabed-view.default input[type="radio"]:nth-child(4):checked ~ .tab-contents .tab-content:nth-child(4), .tabed-view.default input[type="radio"]:nth-child(5):checked ~ .tab-contents .tab-content:nth-child(5), .tabed-view.default input[type="radio"]:nth-child(6):checked ~ .tab-contents .tab-content:nth-child(6), .tabed-view.default input[type="radio"]:nth-child(7):checked ~ .tab-contents .tab-content:nth-child(7), .tabed-view.default input[type="radio"]:nth-child(8):checked ~ .tab-contents .tab-content:nth-child(8), .tabed-view.default input[type="radio"]:nth-child(9):checked ~ .tab-contents .tab-content:nth-child(9), .tabed-view.default input[type="radio"]:nth-child(10):checked ~ .tab-contents .tab-content:nth-child(10), .tabed-view.default input[type="radio"]:nth-child(11):checked ~ .tab-contents .tab-content:nth-child(11), .tabed-view.default input[type="radio"]:nth-child(12):checked ~ .tab-contents .tab-content:nth-child(12), .tabed-view.default input[type="radio"]:nth-child(13):checked ~ .tab-contents .tab-content:nth-child(13), .tabed-view.default input[type="radio"]:nth-child(14):checked ~ .tab-contents .tab-content:nth-child(14), .tabed-view.default input[type="radio"]:nth-child(15):checked ~ .tab-contents .tab-content:nth-child(15), .tabed-view.default input[type="radio"]:nth-child(16):checked ~ .tab-contents .tab-content:nth-child(16), .tabed-view.default input[type="radio"]:nth-child(1):checked ~ .associate-container .tab-contents .tab-content:nth-child(1), .tabed-view.default input[type="radio"]:nth-child(2):checked ~ .associate-container .tab-contents .tab-content:nth-child(2), .tabed-view.default input[type="radio"]:nth-child(3):checked ~ .associate-container .tab-contents .tab-content:nth-child(3), .tabed-view.default input[type="radio"]:nth-child(4):checked ~ .associate-container .tab-contents .tab-content:nth-child(4), .tabed-view.default input[type="radio"]:nth-child(5):checked ~ .associate-container .tab-contents .tab-content:nth-child(5), .tabed-view.default input[type="radio"]:nth-child(6):checked ~ .associate-container .tab-contents .tab-content:nth-child(6), .tabed-view.default input[type="radio"]:nth-child(7):checked ~ .associate-container .tab-contents .tab-content:nth-child(7), .tabed-view.default input[type="radio"]:nth-child(8):checked ~ .associate-container .tab-contents .tab-content:nth-child(8), .tabed-view.default input[type="radio"]:nth-child(9):checked ~ .associate-container .tab-contents .tab-content:nth-child(9), .tabed-view.default input[type="radio"]:nth-child(10):checked ~ .associate-container .tab-contents .tab-content:nth-child(10), .tabed-view.default input[type="radio"]:nth-child(11):checked ~ .associate-container .tab-contents .tab-content:nth-child(11), .tabed-view.default input[type="radio"]:nth-child(12):checked ~ .associate-container .tab-contents .tab-content:nth-child(12), .tabed-view.default input[type="radio"]:nth-child(13):checked ~ .associate-container .tab-contents .tab-content:nth-child(13), .tabed-view.default input[type="radio"]:nth-child(14):checked ~ .associate-container .tab-contents .tab-content:nth-child(14), .tabed-view.default input[type="radio"]:nth-child(15):checked ~ .associate-container .tab-contents .tab-content:nth-child(15), .tabed-view.default input[type="radio"]:nth-child(16):checked ~ .associate-container .tab-contents .tab-content:nth-child(16) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.bg-fade {
    background-color: var(--ad-c-1);
}
.light{
	background-color: var(--ad-c-light);
}


.tabed-view.default.box .tabs {
    text-align: center;
    border: 0 none;
}
.tabed-view.default.box input[type="radio"]:nth-child(1):checked~.tabs label:nth-child(1), .tabed-view.default.box input[type="radio"]:nth-child(2):checked~.tabs label:nth-child(2), .tabed-view.default.box input[type="radio"]:nth-child(3):checked~.tabs label:nth-child(3), .tabed-view.default.box input[type="radio"]:nth-child(4):checked~.tabs label:nth-child(4), .tabed-view.default.box input[type="radio"]:nth-child(5):checked~.tabs label:nth-child(5), .tabed-view.default.box input[type="radio"]:nth-child(6):checked~.tabs label:nth-child(6), .tabed-view.default.box input[type="radio"]:nth-child(7):checked~.tabs label:nth-child(7), .tabed-view.default.box input[type="radio"]:nth-child(8):checked~.tabs label:nth-child(8), .tabed-view.default.box input[type="radio"]:nth-child(9):checked~.tabs label:nth-child(9), .tabed-view.default.box input[type="radio"]:nth-child(10):checked~.tabs label:nth-child(10), .tabed-view.default.box input[type="radio"]:nth-child(11):checked~.tabs label:nth-child(11), .tabed-view.default.box input[type="radio"]:nth-child(12):checked~.tabs label:nth-child(12), .tabed-view.default.box input[type="radio"]:nth-child(13):checked~.tabs label:nth-child(13), .tabed-view.default.box input[type="radio"]:nth-child(14):checked~.tabs label:nth-child(14), .tabed-view.default.box input[type="radio"]:nth-child(15):checked~.tabs label:nth-child(15), .tabed-view.default.box input[type="radio"]:nth-child(16):checked~.tabs label:nth-child(16) {
    color: #ffffff;
    display: inline-block;
    background-color: var(--ad-c-1);
	border: 1px solid var(--ad-c-1);
}
.tabed-view.default.box input[type="radio"]:nth-child(1):checked~.tabs label:nth-child(1):after, .tabed-view.default.box input[type="radio"]:nth-child(2):checked~.tabs label:nth-child(2):after, .tabed-view.default.box input[type="radio"]:nth-child(3):checked~.tabs label:nth-child(3):after, .tabed-view.default.box input[type="radio"]:nth-child(4):checked~.tabs label:nth-child(4):after, .tabed-view.default.box input[type="radio"]:nth-child(5):checked~.tabs label:nth-child(5):after, .tabed-view.default.box input[type="radio"]:nth-child(6):checked~.tabs label:nth-child(6):after, .tabed-view.default.box input[type="radio"]:nth-child(7):checked~.tabs label:nth-child(7):after, .tabed-view.default.box input[type="radio"]:nth-child(8):checked~.tabs label:nth-child(8):after, .tabed-view.default.box input[type="radio"]:nth-child(9):checked~.tabs label:nth-child(9):after, .tabed-view.default.box input[type="radio"]:nth-child(10):checked~.tabs label:nth-child(10):after, .tabed-view.default.box input[type="radio"]:nth-child(11):checked~.tabs label:nth-child(11):after, .tabed-view.default.box input[type="radio"]:nth-child(12):checked~.tabs label:nth-child(12):after, .tabed-view.default.box input[type="radio"]:nth-child(13):checked~.tabs label:nth-child(13):after, .tabed-view.default.box input[type="radio"]:nth-child(14):checked~.tabs label:nth-child(14):after, .tabed-view.default.box input[type="radio"]:nth-child(15):checked~.tabs label:nth-child(15):after, .tabed-view.default.box input[type="radio"]:nth-child(16):checked~.tabs label:nth-child(16):after {
background-color: var(--ad-c-1);
content: '';
display: block;
position: absolute;
bottom: -8px;
height: 18px;
margin-top: -5px;
width: 18px;
transform: translate(calc(-50% - -9px),0) rotate(45deg);
box-shadow: -1px -1px 1px -1px rgb(0 0 0 / 24%);
left: 0;
right: 0;
margin: 0 auto;
z-index: 0;
}
.tabed-view.default.box .tabs label::after{display: none;}
.tabed-view.default.box .tabs label {padding: 10px 16px;border: 1px solid #d4d4d4;}

:root {
    --ad-c-light: rgb(255, 255, 255);
    --ad-c-dark: rgb(0 0 0);
    --ad-c-1: #006FC4; 
    --ad-c-2: #17191d;
    --ad-c-3: #2B2E30;
    --ad-c-4: #727476;
    --ad-c-5: rgba(31, 105, 255, 0.65);
    --ad-c-6: rgb(248, 248, 248);
    --ad-c-7: rgb(239, 238, 253);
    --ad-c-8: #18385e;
    --ad-c-9: #626262; 
    --ad-c-10: #efefef; 
    --ad-c-11: #acacac;
	--ad-c-bg: #ffffff;
    --ad-font-1: 'Nunito', sans-serif;
    --ad-font-2: 'Roboto', sans-serif;
    --ad-animation-duration: 1s;
    --ad-c-info: #0086d6;
    --ad-c-warning: #ffbb00;
    --ad-c-success: #43d787;
    --ad-c-error: #f9461c;
    --data-tooltip-color: rgb(255, 255, 255);
    --data-tooltip-font-size: 12px;
    --data-tooltip-move: 4px;
}


