<template>

			<section class="hot-today ad-m-35-0-50-0">
				<div class="section-header spliter ad-justify-center">
					<h3 data-sub-text="Categories based on Trending">Hot Today</h3>
				</div>
				<div class="section-content ad-m-20-0-0-0" g-r>
					<div g-c="1/4 1/8 3/12 4/16">
						<div class="property-block ad-card-2">
							<div class="property-image-block" style="background-image:url('/css/images/property1.png');">
								<div class="property-inner ad-justify-between">
									<span aria-dlp-icon-s="&#xf217;">Add to Cart</span>
									<span aria-dlp-icon-right="&#xea72;">Hub</span>
								</div>
							</div>
							<div class="property-details">
								<div class="property-detail-row ad-justify-between ad-b-line ad-p-5">
									<span class="price">AED<i>15</i></span>
									<span class="rating ad-flex ad-flex-column ad-align-end">
										<span class="star">
											<span aria-dlp-icon-s="&#xf005;"></span>
											<span aria-dlp-icon-s="&#xf005;"></span>
											<span aria-dlp-icon-s="&#xf005;"></span>
											<span aria-dlp-icon-s="&#xf005;"></span>
											<span aria-dlp-icon-s="&#xf005;"></span>
										</span>
										<span class="customer-rating">2745 Rating</span>
									</span>
								</div>
								<div class="property-detail-row ad-p-5">
									<h4 class="property-title">Night Light Nail Salon</h4>
									<div aria-dlp-icon="&#xf3c6;" class="property-distance">1km from your location</div>
								</div>
								<div class="property-detail-row property-detail-actions ad-justify-between ad-p-5">
									<button class="ad-button ad-secondary-button no-border ad-text-left" aria-dlp-icon-l="&#xf1e0">Share</button>
									<button class="ad-button ad-secondary-button no-border ad-text-right" aria-dlp-icon-l-right="&#xe919">Detail</button>
								</div>
							</div>
						</div>
					</div>
					<div g-c="1/4 1/8 3/12 4/16">
						<div class="property-block ad-card-2">
							<div class="property-image-block" style="background-image:url('/css/images/property2.png');">
								<div class="property-inner ad-justify-between">
									<span aria-dlp-icon-s="&#xf217;">Add to Cart</span>
									<span aria-dlp-icon-right="&#xea72;">Hub</span>
								</div>
							</div>
							<div class="property-details">
								<div class="property-detail-row ad-justify-between ad-b-line ad-p-5">
									<span class="price">AED<i>45</i></span>
									<span class="rating ad-flex ad-flex-column ad-align-end">
										<span class="star">
											<span aria-dlp-icon-s="&#xf005;"></span>
											<span aria-dlp-icon-s="&#xf005;"></span>
											<span aria-dlp-icon-s="&#xf005;"></span>
											<span aria-dlp-icon-s="&#xf005;"></span>
											<span aria-dlp-icon-s="&#xf005;"></span>
										</span>
										<span class="customer-rating">545 Rating</span>
									</span>
								</div>
								<div class="property-detail-row ad-p-5">
									<h4 class="property-title">Family Fun Center and Bullwinkle's..</h4>
									<div aria-dlp-icon="&#xf3c6;" class="property-distance">2km from your location</div>
								</div>
								<div class="property-detail-row property-detail-actions ad-justify-between ad-p-5">
									<button class="ad-button ad-secondary-button no-border ad-text-left" aria-dlp-icon-l="&#xf1e0">Share</button>
									<button class="ad-button ad-secondary-button no-border ad-text-right" aria-dlp-icon-l-right="&#xe919">Detail</button>
								</div>
							</div>
						</div>
					</div>
					<div g-c="1/4 1/8 3/12 4/16">
						<div class="property-block ad-card-2">
							<div class="property-image-block" style="background-image:url('/css/images/property3.png');">
								<div class="property-inner ad-justify-between">
									<span aria-dlp-icon-s="&#xf217;">Add to Cart</span>
									<span aria-dlp-icon-right="&#xea72;">Hub</span>
								</div>
							</div>
							<div class="property-details">
								<div class="property-detail-row ad-justify-between ad-b-line ad-p-5">
									<span class="price">AED<i>5</i></span>
									<span class="rating ad-flex ad-flex-column ad-align-end">
										<span class="star">
											<span aria-dlp-icon-s="&#xf005;"></span>
											<span aria-dlp-icon-s="&#xf005;"></span>
											<span aria-dlp-icon-s="&#xf005;"></span>
											<span aria-dlp-icon-s="&#xf005;"></span>
											<span aria-dlp-icon-s="&#xf005;"></span>
										</span>
										<span class="customer-rating">545 Rating</span>
									</span>
								</div>
								<div class="property-detail-row ad-p-5">
									<h4 class="property-title">MasterPark Lot B</h4>
									<div aria-dlp-icon="&#xf3c6;" class="property-distance">5km from your location</div>
								</div>
								<div class="property-detail-row property-detail-actions ad-justify-between ad-p-5">
									<button class="ad-button ad-secondary-button no-border ad-text-left" aria-dlp-icon-l="&#xf1e0">Share</button>
									<button class="ad-button ad-secondary-button no-border ad-text-right" aria-dlp-icon-l-right="&#xe919">Detail</button>
								</div>
							</div>
						</div>
					</div>
					<div g-c="1/4 1/8 3/12 4/16">
						<div class="property-block ad-card-2">
							<div class="property-image-block" style="background-image:url('/css/images/property4.png');">
								<div class="property-inner ad-justify-between">
									<span aria-dlp-icon-s="&#xf217;">Add to Cart</span>
									<span aria-dlp-icon-right="&#xea72;">Hub</span>
								</div>
							</div>
							<div class="property-details">
								<div class="property-detail-row ad-justify-between ad-b-line ad-p-5">
									<span class="price">AED<i>17</i></span>
									<span class="rating ad-flex ad-flex-column ad-align-end">
										<span class="star">
											<span aria-dlp-icon-s="&#xf005;"></span>
											<span aria-dlp-icon-s="&#xf005;"></span>
											<span aria-dlp-icon-s="&#xf005;"></span>
											<span aria-dlp-icon-s="&#xf005;"></span>
											<span aria-dlp-icon-s="&#xf005;"></span>
										</span>
										<span class="customer-rating">45 Rating</span>
									</span>
								</div>
								<div class="property-detail-row ad-p-5">
									<h4 class="property-title">Pennzoil</h4>
									<div aria-dlp-icon="&#xf3c6;" class="property-distance">15km from your location</div>
								</div>
								<div class="property-detail-row property-detail-actions ad-justify-between ad-p-5">
									<button class="ad-button ad-secondary-button no-border ad-text-left" aria-dlp-icon-l="&#xf1e0">Share</button>
									<button class="ad-button ad-secondary-button no-border ad-text-right" aria-dlp-icon-l-right="&#xe919">Detail</button>
								</div>
							</div>
						</div>
					</div>
					<div g-c="4/4 8/8 12/12 16/16" class="ad-text-center ad-m-20-0-0-0">
						<button class="ad-button ad-primary-button bg-fade" aria-dlp-icon-l="&#xe92f;">Show More</button>
					</div>
				</div>
			</section>
			<section class="quick-view ad-m-35-0-50-0">
				<div class="section-header spliter ad-justify-center">
					<h3 data-sub-text="Catergories based on your location &amp; interest">Quick View</h3>
				</div>
				<div class="section-content ad-m-20-0-0-0" g-r>
					<div class="tabed-view default box" g-c="4/4 8/8 12/12 16/16">
						<input type="radio" name="quickview" id="nearme" checked="">
						<input type="radio" name="quickview" id="recentlyviewed">
						<input type="radio" name="quickview" id="watchlist">
						<div class="tabs space-between">
							<label for="nearme">Near Me</label>
							<label for="recentlyviewed">Recently Viewed</label>
							<label for="watchlist">Watchlist</label>
						</div>
						<div class="tab-contents">
							<div class="tab-content">
								<div data-aga-g-r="" class="tab-content-wrapper">
									<div class="section-content ad-m-20-0-0-0" g-r>
										<div g-c="1/4 1/8 3/12 4/16">
											<div class="property-block ad-card-2">
												<div class="property-image-block" style="background-image:url('/css/images/property1.png');">
													<div class="property-inner ad-justify-between">
														<span aria-dlp-icon-s="&#xf217;">Add to Cart</span>
														<span aria-dlp-icon-right="&#xea72;">Hub</span>
													</div>
												</div>
												<div class="property-details">
													<div class="property-detail-row ad-justify-between ad-b-line ad-p-5">
														<span class="price">AED<i>15</i></span>
														<span class="rating ad-flex ad-flex-column ad-align-end">
															<span class="star">
																<span aria-dlp-icon-s="&#xf005;"></span>
																<span aria-dlp-icon-s="&#xf005;"></span>
																<span aria-dlp-icon-s="&#xf005;"></span>
																<span aria-dlp-icon-s="&#xf005;"></span>
																<span aria-dlp-icon-s="&#xf005;"></span>
															</span>
															<span class="customer-rating">2745 Rating</span>
														</span>
													</div>
													<div class="property-detail-row ad-p-5">
														<h4 class="property-title">Night Light Nail Salon</h4>
														<div aria-dlp-icon="&#xf3c6;" class="property-distance">1km from your location</div>
													</div>
													<div class="property-detail-row property-detail-actions ad-justify-between ad-p-5">
														<button class="ad-button ad-secondary-button no-border ad-text-left" aria-dlp-icon-l="&#xf1e0">Share</button>
														<button class="ad-button ad-secondary-button no-border ad-text-right" aria-dlp-icon-l-right="&#xe919">Detail</button>
													</div>
												</div>
											</div>
										</div>
										<div g-c="1/4 1/8 3/12 4/16">
											<div class="property-block ad-card-2">
												<div class="property-image-block" style="background-image:url('/css/images/property2.png');">
													<div class="property-inner ad-justify-between">
														<span aria-dlp-icon-s="&#xf217;">Add to Cart</span>
														<span aria-dlp-icon-right="&#xea72;">Hub</span>
													</div>
												</div>
												<div class="property-details">
													<div class="property-detail-row ad-justify-between ad-b-line ad-p-5">
														<span class="price">AED<i>45</i></span>
														<span class="rating ad-flex ad-flex-column ad-align-end">
															<span class="star">
																<span aria-dlp-icon-s="&#xf005;"></span>
																<span aria-dlp-icon-s="&#xf005;"></span>
																<span aria-dlp-icon-s="&#xf005;"></span>
																<span aria-dlp-icon-s="&#xf005;"></span>
																<span aria-dlp-icon-s="&#xf005;"></span>
															</span>
															<span class="customer-rating">545 Rating</span>
														</span>
													</div>
													<div class="property-detail-row ad-p-5">
														<h4 class="property-title">Family Fun Center and Bullwinkle's..</h4>
														<div aria-dlp-icon="&#xf3c6;" class="property-distance">2km from your location</div>
													</div>
													<div class="property-detail-row property-detail-actions ad-justify-between ad-p-5">
														<button class="ad-button ad-secondary-button no-border ad-text-left" aria-dlp-icon-l="&#xf1e0">Share</button>
														<button class="ad-button ad-secondary-button no-border ad-text-right" aria-dlp-icon-l-right="&#xe919">Detail</button>
													</div>
												</div>
											</div>
										</div>
										<div g-c="1/4 1/8 3/12 4/16">
											<div class="property-block ad-card-2">
												<div class="property-image-block" style="background-image:url('/css/images/property3.png');">
													<div class="property-inner ad-justify-between">
														<span aria-dlp-icon-s="&#xf217;">Add to Cart</span>
														<span aria-dlp-icon-right="&#xea72;">Hub</span>
													</div>
												</div>
												<div class="property-details">
													<div class="property-detail-row ad-justify-between ad-b-line ad-p-5">
														<span class="price">AED<i>5</i></span>
														<span class="rating ad-flex ad-flex-column ad-align-end">
															<span class="star">
																<span aria-dlp-icon-s="&#xf005;"></span>
																<span aria-dlp-icon-s="&#xf005;"></span>
																<span aria-dlp-icon-s="&#xf005;"></span>
																<span aria-dlp-icon-s="&#xf005;"></span>
																<span aria-dlp-icon-s="&#xf005;"></span>
															</span>
															<span class="customer-rating">545 Rating</span>
														</span>
													</div>
													<div class="property-detail-row ad-p-5">
														<h4 class="property-title">MasterPark Lot B</h4>
														<div aria-dlp-icon="&#xf3c6;" class="property-distance">5km from your location</div>
													</div>
													<div class="property-detail-row property-detail-actions ad-justify-between ad-p-5">
														<button class="ad-button ad-secondary-button no-border ad-text-left" aria-dlp-icon-l="&#xf1e0">Share</button>
														<button class="ad-button ad-secondary-button no-border ad-text-right" aria-dlp-icon-l-right="&#xe919">Detail</button>
													</div>
												</div>
											</div>
										</div>
										<div g-c="1/4 1/8 3/12 4/16">
											<div class="property-block ad-card-2">
												<div class="property-image-block" style="background-image:url('/css/images/property4.png');">
													<div class="property-inner ad-justify-between">
														<span aria-dlp-icon-s="&#xf217;">Add to Cart</span>
														<span aria-dlp-icon-right="&#xea72;">Hub</span>
													</div>
												</div>
												<div class="property-details">
													<div class="property-detail-row ad-justify-between ad-b-line ad-p-5">
														<span class="price">AED<i>17</i></span>
														<span class="rating ad-flex ad-flex-column ad-align-end">
															<span class="star">
																<span aria-dlp-icon-s="&#xf005;"></span>
																<span aria-dlp-icon-s="&#xf005;"></span>
																<span aria-dlp-icon-s="&#xf005;"></span>
																<span aria-dlp-icon-s="&#xf005;"></span>
																<span aria-dlp-icon-s="&#xf005;"></span>
															</span>
															<span class="customer-rating">45 Rating</span>
														</span>
													</div>
													<div class="property-detail-row ad-p-5">
														<h4 class="property-title">Pennzoil</h4>
														<div aria-dlp-icon="&#xf3c6" class="property-distance">15km from your location</div>
													</div>
													<div class="property-detail-row property-detail-actions ad-justify-between ad-p-5">
														<button class="ad-button ad-secondary-button no-border ad-text-left" aria-dlp-icon-l="&#xf1e0">Share</button>
														<button class="ad-button ad-secondary-button no-border ad-text-right" aria-dlp-icon-l-right="&#xe919">Detail</button>
													</div>
												</div>
											</div>
										</div>
										<div g-c="4/4 8/8 12/12 16/16" class="ad-text-center ad-m-20-0-0-0">
											<button class="ad-button ad-primary-button bg-fade" aria-dlp-icon-l="&#xe92f">Show More</button>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-content">
								<div data-aga-g-r="" class="tab-content-wrapper">
									Recently Viewed
								</div>
							</div>
							<div class="tab-content">
								<div data-aga-g-r="" class="tab-content-wrapper">
									Watchlist
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="grid-section trending ad-m-35-0-50-0">
				<!-- <div class="section-header spliter ad-justify-center"> -->
					<!-- <h3 data-sub-text="Sponsored Catergories">What's Trending</h3> -->
				<!-- </div> -->
				<div class="section-content ad-m-20-0-0-0 ad-align-stretch" g-r>
					<div g-c="4/4 8/8 4/12 4/16">
						<div class="grid-item" style="background-image:url('/css/images/bar.jpg');height: 100%;">
							<p>Bars</p>
						</div>
					</div>
					<div g-r g-c="4/4 8/8 8/12 12/16">
						<div g-c="4/4 8/8 6/12 8/16">
							<div class="grid-item" style="background-image:url('/css/images/spa.png');">
								<p>Beauty &amp; Spa</p>
							</div>
						</div>
						<div g-c="4/4 8/8 6/12 8/16">
							<div class="grid-item" style="background-image:url('/css/images/gloceries.jpg');">
								<p>Gloceries/Supermarket</p>
							</div>
						</div>
						<div g-c="4/4 8/8 6/12 8/16">
							<div class="grid-item" style="background-image:url('/css/images/restaturant.jpg');">
								<p>Restaurants</p>
							</div>
						</div>
						<div g-c="4/4 8/8 6/12 8/16">
							<div class="grid-item" style="background-image:url('/css/images/food.jpg');">
								<p>Food &amp; Drinks</p>
							</div>
						</div>
					</div>
				</div>
			</section>	
			<section class="grid-section trending ad-m-35-0-50-0">
				<!-- <div class="section-header spliter ad-justify-center"> -->
					<!-- <h3 data-sub-text="Sponsored Catergories">What's Trending</h3> -->
				<!-- </div> -->
				<div class="section-content ad-m-20-0-0-0 ad-align-stretch" g-r>
					<div g-c="4/4 8/8 6/12 8/16">
						<div class="grid-item" style="background-image:url('/css/images/spa-ladies.png');height: 100%;">
							<p>Beauty &amp; Spa</p>
						</div>
					</div>
					<div g-r g-c="4/4 8/8 6/12 8/16">
						<div g-c="4/4 8/8 8/12 11/16">
							<div class="grid-item" style="background-image:url('/css/images/ladies1.jpg');">
								<p>Beauty &amp; Grooming</p>
							</div>
						</div>
						<div g-c="4/4 8/8 4/12 5/16">
							<div class="grid-item" style="background-image:url('/css/images/ladies2.jpg');">
								<p>Saloon</p>
							</div>
						</div>
						<div g-c="4/4 8/8 4/12 5/16">
							<div class="grid-item" style="background-image:url('/css/images/ladies3.jpg');">
								<p>Garments</p>
							</div>
						</div>
						<div g-c="4/4 8/8 8/12 11/16">
							<div class="grid-item" style="background-image:url('/css/images/ladies4.jpg');">
								<p>Footwear &amp; Bags</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="grid-section top-deals ad-m-35-0-50-0">
				<div class="section-header spliter ad-justify-center">
					<h3 data-sub-text="Top Deals">Deals Under AED10</h3>
				</div>
				<div class="section-content ad-m-20-0-0-0 ad-align-stretch" g-r>
					<div g-c="4/4 8/8 3/12 4/16">
						<div class="grid-item" style="background-image:url('/css/images/deal1.png');height: 100%;">
							<p>Food &amp; Drinks</p>
						</div>
					</div>
					<div g-c="4/4 8/8 3/12 4/16">
						<div class="grid-item" style="background-image:url('/css/images/deal2.png');height: 100%;">
							<p>Home &amp; Automobiles</p>
						</div>
					</div>
					<div g-c="4/4 8/8 3/12 4/16">
						<div class="grid-item" style="background-image:url('/css/images/deal3.jpg');height: 100%;">
							<p>Gloceries</p>
						</div>
					</div>
					<div g-c="4/4 8/8 3/12 4/16">
						<div class="grid-item" style="background-image:url('/css/images/deal4.jpg');height: 100%;">
							<p>Fun &amp; Sports</p>
						</div>
					</div>
				</div>
			</section>
			<section class="grid-section ad-m-35-0-50-0">
				<div class="section-header spliter ad-justify-center">
					<h3 data-sub-text="Browse through some of our most popular Catergories">Featured Categories</h3>
				</div>
				<div class="section-content ad-m-20-0-0-0 ad-align-stretch" g-r>
					<div g-c="4/4 8/8 4/12 5/16">
						<div class="grid-item" style="background-image:url('/css/images/featured1.jpg');">
							<p>Home Services</p>
						</div>
					</div>
					<div g-c="4/4 8/8 8/12 11/16">
						<div class="grid-item" style="background-image:url('/css/images/featured2.jpg');">
							<p>Children’s Services</p>
						</div>
					</div>
					<div g-c="4/4 8/8 8/12 11/16">
						<div class="grid-item" style="background-image:url('/css/images/featured3.png');">
							<p>Event Services</p>
						</div>
					</div>
					<div g-c="4/4 8/8 4/12 5/16">
						<div class="grid-item" style="background-image:url('/css/images/featured4.jpg');">
							<p>Personal Services</p>
						</div>
					</div>
				</div>
			</section>
		
</template>
<script lang="ts">
import { Vue } from 'vue-class-component'
export default class home extends Vue{}
</script>