<template>
    <div class="search-block ad-flex ad-flexible">
        <button class="search-category ad-button ad-secondary-button ad-p-0-8 no-border" aria-dlp-icon="&#xe921;" aria-dlp-icon-l-right="&#xe917;">All</button>
        <div class="search-keyword ad-flex ad-flexible ad-in-text">
            <input type="text" placeholder="I'm looking for..."/>
        </div>
        <div class="search-location ad-flex ad-flexible ad-in-text" aria-dlp-icon-xs="&#xf3c5;">
            <input type="text" placeholder="Postcode or location"/>
        </div>
        <button class="ad-button bg-fade search-button">Search</button>
    </div>
    <!-- <span v-for="user of users.state.list" :key="user.name" style="display:block;">
        {{user.name}}
    </span> -->
</template>
<script lang="ts">
import { setup,Vue } from 'vue-class-component'
import { useUsers } from "../../data/collections/user"
export default class search extends Vue {
    
    users=setup(()=>useUsers());

    mounted(){
        this.users.get();
    }
    
}
</script>