<template>
<div>
  <h2>Login</h2>
</div>
<form>
<div class="form-group">
  <label for="username">Username</label>
  <input 
  type="text"  class="form-control" v-model="username"  placeholder="Username"> 
</div>
<div class="form-group">
  <label for="password">Password</label>
  <input 
  type="text" class="form-control"  v-model="Password" placeholder="Password" > 
</div>
<button class="btn-primary">Login</button>
&nbsp;&nbsp;&nbsp;&nbsp;
<router-link to="@/register" class="card-link">Don't have an Account?</router-link>
</form>
    </template>
    <script>
  
export default {
  data() {
    return {
      username: "",
        password: ""
      }
    
  }
}
</script>