<template>
  <div>
    <h2>Register</h2>
  </div>
  <form @submit.prevent="handleSubmit">
    <div class="form-group">
      <label for="firstname">Firstname</label>
      <input
        type="text"
        class="form-control"
        v-model="firstname"
        placeholder="firstname"
        
        
      />
    </div>
    <div class="form-group">
      <label for="lastname">Lastname</label>
      <input
        type="text"
        class="form-control"
         v-model="lastname"
        placeholder="lastname"
       
        
      />
    </div>
    <div class="form-group">
      <label for="phonenumber">Phonenumber</label>
      <input
        type="text"
        class="form-control"
        v-model="phonenumber"
          placeholder="phonenumber"
        
      />
    </div>
    <div class="form-group">
      <label for="emailaddress">Emailaddress</label>
      <input
        type="text"
       class="form-control"
        v-model="emailaddress"
         placeholder="emailaddress"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="text"
        class="form-control"
        v-model="password"
        placeholder="password"
        
        
      />
    </div>
    <div class="form-group">
      <label for="confirmpassword">Confirmpassword</label>
      <input
        type="text"
       class="form-control"
        v-model="confirmpassword"
         placeholder="confirmpassword"
      />
    </div>
    <button class="btn btn-primary">Register</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <router-link to="/login" class="card-link"
      >Already have an Account?</router-link
    >
  </form>
</template>
    <script>
    
export default {

  data() {
    return {
      firstname: "",
      lastname: "",
      phonenumber: "",
      emailaddress: "",
      password: "",
      confirmpassword: "",
      methods: {
        handleSubmit() {
          const data = {
            firstname: this.firstname,
            lastname: this.lastname,
            phonenumber: this.phonenumber,
            emailaddress: this.emailaddress,
            password: this.password,
            confirmpassword: this.confirmpassword,
          };
          console.log(data);
        },
      },
    };
  },
};
</script>